[2020-07-14 07:18] XamarinPOC opened #47 "Null is not an object evaluating (TfliteReactNative.loadModel)"
dependencies": { "react": "16.13.1", "react-native": "0.63.0", "react-native-image-picker": "^2.3.2", "tflite-react-native": "0.0.5"
target 'TFDemo' do
pod 'TensorFlowLite', '1.12.0'
config = use_native_modules!

/**

Metro configuration for React Native
https://github.com/facebook/react-native
@Format
*/
module.exports = {
resolver: {
assetExts: ['tflite', 'txt']
<img width="341" alt="Screenshot

[2020-07-15 09:14] xunkai55 commented on #47
Hi @XamarinPOC , I think you're not asking in the right place. The "tflite-react-native" library is not in this repo.

[2020-07-15 09:14] #47 closed

[2020-07-21 11:44] aguaviva opened #60 "python quickstart guide doesn't mention how to use python 3.8"
Thanks for the great documentation though.

[2020-08-27 01:00] liusanchuan opened #146 "When can we use the tf lite C++ support?"
thanks for your awesome work. and I'm very hungry to use the tf lite C++ in Android jni, but it seems haven't finished. did you have the time when we can use it?

[2020-08-27 02:55] Kipsora opened #149 "Bazel 3.4.1 Build Error"
Hi, I was trying to build the support library with bazel 3.4.1 on Arch Linux. I haven't found any docs related to how to build the package so I use the following command to build:
[code]
But I got the following errors:
[code]

Some environment variables for your reference:
[code]

[2020-09-01 08:23] sseppola opened #154 "Tracking: Metadata extration support for both Java and Swift"
I would just like to set up an issue to track when this lib can be used to extract labels from a tflite bundle in both iOS and Android. Current support:
- [x] Android, Java
- [ ] iOS, Swift

For context:
I'm using Firebase ML to manage custom models for my apps, however managing the labels separately from the model is a pain point. I prefer to solve uniformly in both apps to keep things simple, so

[2020-09-08 10:03] ptrem opened #157 "tf.keras model converted to tflite returns just NAN"
System information

    OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Windows 10
    TensorFlow installed from (source or binary): pip
    TensorFlow version: 2.3

Hey everybody,
i am still relatively inexperienced with tensorflow lite and would like to convert a model with custom training function into a tflite model in order to run it on a google coral accelerator if possible. I am tr

[2020-09-08 15:33] Kipsora commented on #149
Fixed by setting the environment variables in `.bazelrc`
[code]

[2020-09-08 15:33] #149 closed

[2020-09-09 07:28] ptrem commented on #157
I realized that the error occurs, when using the tf.data.dataset API. Is there any relation?

[2020-09-09 09:32] ptrem commented on #157
It seemed to be a problem of the tf.keras.layers.BatchNormalization().
If this issue occurs just set the attribute fused=False and it should work fine.

[2020-09-09 09:32] #157 closed

[2020-09-14 04:18] xunkai55 commented on #146
If you only want to use the core TFLite with C++, please refer to: https://www.tensorflow.org/lite/api_docs/cc

TFLite Support projects & C++ is still in an early stage.

[2020-09-15 03:31] lu-wang-g commented on #154
The [C++ metadata extractor library](https://github.com/tensorflow/tflite-support/tree/master/tensorflow_lite_support/metadata/cc) has been released. We're working on improving the C++ user experience so that it's easy to use when building from source code.

[2020-09-17 07:50] sseppola commented on #154
Excellent! Thank you for the update.
I'm not in a hurry to have this in place, so I read your comment as a suggestion to wait until the user experience has been improved before integrating the C++ lib. Is that a fair assessment?

[2020-09-17 16:21] lu-wang-g commented on #154
The improvement will focus on non-bazel experiences, such as using CMake.

BTW, what is the expected workflow for your use case, like which platform (c++/ swift / java), prebuilt binary or built from source code?

[2020-09-18 07:35] sseppola commented on #154
I'm new to native apps, so I'm not sure what tool is being used under the hood, but I can describe the setup.

I've got a React Native app with custom native integration to TFLite, this all builds with default swift/java compilers as far as I know. My project dependencies have been installed from Pods/Maven/npm, so perhaps there's some step in the bundling that compiles source files in there, but

[2020-09-23 01:07] lu-wang-g commented on #154
Thanks for your explanation! Seems like the missing piece of work for you is the swift API distributed from Cocoapods. I'll make a note when we planning work for the next quarter. Thanks for the feedback!

[2020-09-23 06:29] sseppola commented on #154
Happy to help! I was starting to expect something more complicated, so I'm looking forward to the cocoapods distribution.

[2020-09-24 09:58] josephbiko opened #177 "JNI DETECTED ERROR IN APPLICATION"
When following the example [on the task library page](https://www.tensorflow.org/lite/inference_with_metadata/task_library/object_detector), I get the following error:

Any Idea's how to solve this?

[2020-09-27 12:08] Mo-Abdelgawad opened #178 ""bert_question_answerer.h" depends on non exsiting file in tensorflow lite"
Hi,

I tried to use the files in the "qa" task and got the following include error:

`cannot open source file \"tensorflow/lite/experimental/acceleration/configuration/configuration.pb.h\" (dependency of \"tensorflow_lite_support/cc/task/text/qa/bert_question_answerer.h\")`

There is no such a file at the tensorflow repository: https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/e

[2020-09-29 16:38] Mo-Abdelgawad commented on #178
I found out that it's a generated file. So I had to generate it using protoc from configuration.protoc.

[2020-09-29 16:38] #178 closed

[2020-09-29 16:57] Mo-Abdelgawad opened #181 "Which header files to include to run BERT qa task?"
Hi,

You provide an example of how to run BERT qa task [here](https://github.com/tensorflow/tflite-support/tree/master/tensorflow_lite_support/cc/task)

[code]

What are the header files that I should include so that it could run?
-----------------------------------------------------------------------------------------

-- When I include  `"tensorflow_lite_support/cc/task/text/qa/bert_question_ans

[2020-09-29 17:45] Mo-Abdelgawad commented on #181
@xunkai55 could you help with that?

[2020-10-06 08:54] hohteri opened #187 "ModelMetadataInfo enforces subgraphs to exist"
I'm using model metadata to store model version number and to read it back but there is an assert that gets triggered. I don't want to use the subgraph metadata at all:

https://github.com/tensorflow/tflite-support/blob/db5e8cc6f0b89cba001385c0dbf7bf0cbf4d2224/tensorflow_lite_support/metadata/java/src/java/org/tensorflow/lite/support/metadata/ModelMetadataInfo.java#L56

Is this check intentional o

[2020-10-06 10:27] hohteri commented on #187
Interestingly on Linux it does enforce it when creating metadata:

`line 28, in <module>
    populator.load_metadata_buffer(metadata_buf)
  File "/usr/local/lib/python3.6/dist-packages/tensorflow_lite_support/metadata/metadata.py", line 269, in load_metadata_buffer
    self._validate_metadata(metadata_buf)
  File "/usr/local/lib/python3.6/dist-packages/tensorflow_lite_support/metadata/metadata.py"

[2020-10-10 13:31] Raymondhhh90 opened #191 "How to enable NNAPIDelegate with TFLite Support Task Library?"
Are there options or Is it enabled by default? thank you.

[2020-10-13 22:48] lu-wang-g commented on #191
Task library is currently using CPU and single thread by default. We are working actively to enable multithread and delegates. Multithreading will be available in C++ and Java in the coming week. Delegates will come soon in Q4. Please stay tuned!

[2020-10-13 23:00] lu-wang-g commented on #187
Yes. The subgraph and tensor check has not been implemented in the C++ metadata extractor lib yet, but the Java lib.

The check is mainly to enforce that the metadata info is valid so that the [AS model binding [feature]](https://www.tensorflow.org/lite/inference_with_metadata/codegen#generate_code_with_android_studio_ml_model_binding) and [Task library](https://www.tensorflow.org/lite/inference_w

[2020-10-13 23:07] lu-wang-g commented on #181
Sorry about the delay!

Please check out this demo for the usage of the C++ API: https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/examples/task/text/desktop/bert_question_answerer_demo.cc

Feel free to let us know if you have other questions.

[2020-10-13 23:07] #181 closed

[2020-10-13 23:12] #191 closed

[2020-10-13 23:17] lu-wang-g commented on #177
According to the message:
NoSuchMethodError: no static method "Lorg/tensorflow/lite/support/label/Category;.create(Ljava/lang/String;Ljava/lang/String;F)Lorg/tensorflow/lite/support/label/Category;"

Seems like the Support library you depend on is not the latest version. Are you explicitly depending on the Support library in your code? If so, please check if you're using the nightly target. We'll

[2020-10-13 23:48] lu-wang-g commented on #60
Which python quickstart guide do you refer to?

[2020-10-14 11:23] xunkai55 opened #200 "Test: A feature request should notify TFL team."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-14 11:30] #200 closed

[2020-10-14 11:36] aguaviva commented on #60
this one: https://www.tensorflow.org/lite/guide/python

[2020-10-14 19:46] lu-wang-g commented on #60
Thanks for flagging the issue! I've created a bug internally to track it. However, for general TFlite issue like this, it will be more efficient to create an issue in the TF/TFlite github repo: https://github.com/tensorflow/tensorflow.

[2020-10-22 13:23] chenrubin opened #207 "convert tflite to tensorflow graph"
Hello all,

I am new to this world so hopefully my question will be as clear as possible and related to this forum.
I want to be able to convert tflite file to tensorflow graph.
I have tried several ways:

1)
tflite --> onnx :  I used
tflite2onnx.convert(tflite_path, onnx_path)
Result:
NotImplementedError: Unsupported TFLite OP: 41
It seems there is an unsupported operations (maybe more) and I was

[2020-10-26 02:49] howl-anderson opened #211 "bazel build failed on nl_classifier_demo"
source: commit 1202da8ef35a22e94ea8eb3a2f45a06558a77c51

OS:  Ubuntu 18.04.5

comand:
`bazel build tensorflow_lite_support/examples/task/text/desktop:nl_classifier_demo`

error message:
`tensorflow_lite_support/cc/task/text/nlclassifier/nl_classifier.cc: In function 'tflite::support::StatusOr<std::unique_ptr<tflite::support::text::tokenizer::Tokenizer> > tflite::task::text::nlclassifier::{anonymou

[2020-10-27 02:49] SunAriesCN commented on #211
Maybe  commit `bdaa876a8e2e955f8cec34ab970a2bd6abd6f61c` has resolve this problem.

[2020-10-27 03:28] howl-anderson commented on #211
Hi @SunAriesCN, thank you for your suggestion, however, I just tried that commit, It doesn't work. Thank you anyway!

[2020-10-27 03:41] SunAriesCN commented on #211
Well, I think it maybe a runtime problem, a docker image for compilation provided by TFers may help problems like this.

[2020-10-27 05:56] howl-anderson commented on #211
Well, I compile the same target on Mac OS 10.15.7 with `bazelisk` instead of `bazel`, it works! Unfortunately, I try the same thing the same way on Ubuntu, it still not works.

[2020-10-27 06:52] xunkai55 commented on #207
Hi Chen, I think the question is more appropriated to be asked on the main TF repo (https://github.com/tensorflow/tensorflow), because the TF and TFLite core are both hosted there. Thanks!

[2020-10-27 06:52] #207 closed

[2020-10-27 06:53] xunkai55 commented on #211
Hi, could you also provide bazel version and C++ toolchain version? Thanks!

[2020-10-27 07:47] howl-anderson commented on #211
Hi @xunkai55 I already added the bazel version and C++ toolchain version to the issue description, please take a look.

[2020-10-29 10:34] xunkai55 commented on #211
I can reproduce that bug right now. Looking into it.

[2020-10-30 13:10] shivSD opened #214 "Tflite Quant inference is slower than TFlite float32 on Intel CPU"
I have converted a network into TFlite using DEFAULT optimization (Float32) setting and its inference speed is around 25 fps. Same network when i converted into TFlite INT8 Quantized and its inference speed is around 2 fps on INTEL 8-Core Intel Core i9 2.3 GHz. Is this expected on CPU?  Please can somebody explain what causes the slowness of INT8 inference.

[2020-11-04 23:11] ben-xD opened #217 "Channel-specific NormalizeOp support [feature request?]"
Some models pre-process channels by different amounts, based on the average pixel values in separate channels of the training dataset. When using future data, we would have to preprocess the input data as they do: For example, preprocessing for vggface subtracts different values from the red, green and blue channels (some code [here](https://github.com/rcmalli/keras-vggface/blob/719ad75625fe51436b

[2020-11-13 04:11] vinodh2805 opened #226 "I could not able to capture the image on the fragments"
Hi I have integrated the tensor flow sdk in android, I want to capture the image from the camera with detector. How do i achieve this.
I have written the code on Camera Fragement, But it not works
Kindly give some suggestion.

[2020-11-14 01:57] lu-wang-g commented on #226
Have you take a look at the [TFLite Object Detector reference app](https://github.com/tensorflow/examples/tree/master/lite/examples/object_detection/android)? [DetectorActivity](https://github.com/tensorflow/examples/blob/master/lite/examples/object_detection/android/app/src/main/java/org/tensorflow/lite/examples/detection/DetectorActivity.java) contains the code to process image from the camera,

[2020-11-14 02:19] lu-wang-g commented on #217
Yes, I don't think tf.image support per channel normalization. Usually this is done simply by
[code]

It means if the input tensor is UINT8, and if mean is 0 and stddev is 1, the returned TensorBuffer will not be a FLOAT32 tensor, but a UINT8 tensor, because the original input tensor is returned.

[2020-11-18 06:36] multiverse-tf commented on #214
Sorry for the late response.

Such performance behavior you described isn't surprising (:-)) because those quant kernels haven't been optimized as much as those corresponding float kernels on Intel CPUs (i.e. x86_64).  But if you try it out on mobile phones, you will find that quant inference generally outperforms their float counterpart.

We have been aware of such performance discrepancy, and we

[2020-11-21 19:48] pourfard opened #237 "TFLite runtime with select ops support in windows"
Hi,

I'm using a tflite model in android which runs without problem when I use "org.tensorflow:tensorflow-lite-select-tf-ops:0.0.0-nightly" because it contains some tensorflow operations (not completly tflite standard operations). In windows on the other hand, when I use the same model, I should install Tensorflow 2.4 as said in [this link](https://www.tensorflow.org/lite/guide/ops_select):

"Note

[2020-11-23 15:42] kthomas4031 opened #241 "Fitting tflite models"
Hello,

Is there any way to use something like the Keras "fit()" function using tflite? Currently, I am sending the data back to a server that is running the fit function, converting the model back to tflite, and sending it back to the Raspberry Pi. Is there a more efficient way to do this?

[2020-11-23 21:45] ben-xD commented on #241
TensorFlow lite doesn't support training yet, so this isn't possible. However, they mentioned that this is coming in the future, but requires other features to come into place first, so don't hold your breath.

[2020-11-23 21:48] ben-xD commented on #217
It looks like the codegen which uses support library already does this. After adding the appropriate metadata using Python, the relevant codegen is:
[code]
where the generated `class Metadata` contains
[code]

I will leave it open for you to update the comment? Thanks for your reply.

[2020-11-23 21:51] ben-xD commented on #214
Thanks for the details @multiverse-tf, I would appreciate more info on this too, if @talumbau could give it a go? 🥇

x86 is falling behind

[2020-11-24 00:59] #241 closed

[2020-11-24 18:04] lu-wang-g commented on #217
As you've noticed, Codegen does support per channel normalization through metadata, same as [TFLite Task library](https://www.tensorflow.org/lite/inference_with_metadata/task_library/overview) .

The comments have been updated. See [here](https://github.com/tensorflow/tflite-support/blob/42e121f32c2b641f0a31ffd2e82ed57196eacf92/tensorflow_lite_support/java/src/java/org/tensorflow/lite/support/comm

[2020-11-25 01:25] terryheo commented on #237
Could you share why you don't want to install TF 2.4 package?
We have TFLite only PIP distribution:  https://www.tensorflow.org/lite/guide/python, but you can't use TF ops with this package.

We have an experimental way to build TFLite PIP package with Flex delegate.
I haven't tested it on Windows, but you might be able to use this.
https://github.com/tensorflow/tensorflow/tree/master/tensorflow/l

[2020-11-25 06:19] pourfard commented on #237
Thanks for quick reply.

Because its size is huge. TF 2.4 wheel file is about 400mb. I want to
deploy a small application for face detection. The model itself is about
1mb but I should embed whole TF package inside my application. I found
Tf-Nightly smaller than the main package. Its about 150mb but it still is
very large for the application. On android TFlite library with select ops
is about 23mb

[2020-11-25 10:46] terryheo commented on #237
I see. The compiled wheel was less than 50MB. It could be worth to try.

[2020-11-28 16:27] pourfard commented on #237
Sorry if I ask this question here.

when i run this command :

`CUSTOM_BAZEL_FLAGS=--define=tflite_pip_with_flex=true tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh windows`

there is an error:

[code]

but when i run this:

`tensorflow/lite/tools/pip_package/build_pip_package_with_bazel.sh`

there is no error.

I've checked out Tensorflow r.2.4. Do you know what the problem is?

[2020-11-30 15:58] talumbau commented on #214
Hi, thanks for opening the issue. This Github project is about the TF Lite Support library, rather than a place for "support" for TF Lite. In order to proceed here, can you please open a new issue for "Performance" here:

https://github.com/tensorflow/tensorflow/issues/new/choose

and then fill in the template with the relevant details and assign to me? Cheers!

[2020-11-30 15:58] #214 closed

[2020-12-03 12:16] LeopoldACC opened #247 "Problem about different tflite model's invoke time cost?"
I succesfully convert a object detect model and a semantic segmentation keras model(.h5) into tensorflowlite model(.tflite) ,but i found that when i did inference,the segmentation model cost more than 4 seconds to invoke() but object model just need less than 0.1seconds

below is inference code of segmentation model
[code]
5 images cost 22.35933494567871s,avg time cost ≈4.4s

below is inference co

[2020-12-07 17:26] lu-wang-g commented on #247
@LeopoldACC You can try the following ways to optimize the performance.
(1) Use a model with smaller input size. The one you are using is 512x1024, which is pretty large.
(2) Config Interpreter with multithread, see the example [here](https://github.com/tensorflow/examples/blob/408abb536005d697219da5f71f6259e23ae9b512/lite/examples/image_segmentation/android/lib_interpreter/src/main/java/org/tenso

[2020-12-08 00:29] pjin257 opened #252 "Converting model to tflite without optimization option"
I converted saved models to tflite without any optimization option. That's like,

`model = tf.keras.models.load_model('saved_model')`
`converter = tf.lite.TFLiteConverter.from_keras_model(model)`

I assumed above conversion is done under "default" optimization setting below:
`converter.optimizations = [tf.lite.Optimize.DEFAULT]`

However, I got a different result when I explicitly added the optimi

[2020-12-08 05:16] LeopoldACC commented on #247
In my task, the segmentation object is thin and thin(It's **one or two pixels** wide at 1920 * 1080 resolution). If I continue down sampling, the information of this object may be lost, and the accuracy will inevitably decline seriously. If I cut 256 * 256 blocks from 1024 * 512, I need to execute invoke () 8 times for an image. This task is really difficult for me to achieve real-time and high pr

[2020-12-08 18:37] lu-wang-g commented on #247
Usually the segmentation model will be applied on a smaller size of image such as 316x316 and then upscale the output mask to the original image size. In that way, you'll get a much faster inference.

[2020-12-17 12:43] GeneralJing opened #259 "Cannot find 'MetalDelegate' in scope"
When connecting the mobile phone to run the segmentation demo，It gives an error。
the code snippet：
#if targetEnvironment(simulator)
      // Use CPU for inference as MetalDelegate does not support iOS simulator.
      options = Interpreter.Options()
      options?.threadCount = 2
#else
      // Use GPU on real device for inference as this model is fully supported.
      delegates = [MetalDelegate(

[2020-12-21 10:00] #237 closed

[2020-12-21 22:13] lu-wang-g commented on #226
Closing the issue. Feel free to reopen it if you have other questions.

[2020-12-21 22:13] #226 closed

[2020-12-21 22:14] lu-wang-g commented on #217
Closing the issue. Feel free to reopen it if you have other questions.

[2020-12-21 22:14] #217 closed

[2020-12-21 22:14] lu-wang-g commented on #211
@xunkai55 any update?

[2020-12-21 22:14] lu-wang-g commented on #187
Closing the issue. Feel free to reopen it if you have other questions.

[2020-12-21 22:14] #187 closed

[2020-12-21 22:15] lu-wang-g commented on #146
Closing the issue. Feel free to reopen it if you have other questions.

[2020-12-21 22:15] #146 closed

[2020-12-21 22:15] lu-wang-g commented on #177
Closing the issue. Feel free to reopen it if you have other questions.

[2020-12-21 22:15] #177 closed

[2020-12-21 22:17] lu-wang-g commented on #60
The instruction for windows 10 has been added. Closing this issue. Feel free to reopen it if you have other questions.

[2020-12-21 22:17] #60 closed

[2020-12-21 22:25] lu-wang-g commented on #259
@khanhlvg do you have any idea why the MetalDelegate cannot be found?

[2020-12-21 22:38] lu-wang-g commented on #252
You're right. Quantization won'y apply if you don't explicitly set up the optimization option.

And the tflite model (a [flatbuffers file](https://github.com/tensorflow/tensorflow/blob/bc295ed3bc729e94a0aa16214ae3c5a8b642858c/tensorflow/lite/schema/schema.fbs)) is in a different format of the [saved model](https://www.tensorflow.org/guide/saved_model). From the [Keras documentation](https://www.te

[2020-12-21 22:38] #252 closed

[2020-12-21 22:39] lu-wang-g commented on #247
Closing this issue. Feel free to reopen it if you have other questions.

[2020-12-21 22:39] #247 closed

[2021-01-05 21:26] DavidRobb opened #269 "Out of Memory using tflite on Android"
I get an out of memory error condition after about 20 minutes of running the https://github.com/android/camera-samples/tree/main/CameraXTfLite example. I've heavily hacked the code to repeatedly process a sigle image file and isolated the problem to the tf image processing section. My memory diagnostics show there is plenty of memory available but maybe it is becoming too fragmented? It fails on m

[2021-01-15 06:30] danielbank opened #278 "NameError: name 'ImageClassifierWriter' is not defined"
# Environment Info

- Python 3.7.3
- Tensorflow 1.15 built from source
- Pip versions:

[code]

# Script

- Copied from [this stackoverflow question](https://stackoverflow.com/questions/64097085/issue-in-creating-tflite-model-populated-with-metadata-for-object-detection)

[code]

I get the following error:

[code]

Please be gentle, I am a noob.

[2021-01-16 23:09] anumac commented on #278
Hello! I had the same error as you, and it seems to be because of a typo in the stackoverflow snippet. Try changing
`writer = ImageClassifierWriter.create_for_inference` to `writer = ObjectDetectorWriter.create_for_inference`.

[2021-01-16 23:21] danielbank commented on #278
Thank you! @anumac

[2021-01-16 23:21] #278 closed

[2021-01-19 07:30] lu-wang-g commented on #269
I suspect this is a memory fragmentation issue as well. ImageProcessor and TensorImage did a lot of allocation and freeing. Maybe it helps to declare a new TensorImage in each loop instead of the make it long-lived?

[2021-01-19 10:37] DavidRobb commented on #269
I've just tried shifting the creation of various objects in and out of the loop but can't find any work around for the OOM error apart from restarting the Activity every 20 minutes (obviously not ideal)

However, by putting everything in the main loop:
[code]
I can observe a memory leak in Others:
![image](https://user-images.githubusercontent.com/11753801/105022823-1913c700-5a42-11eb-8a25-36ff805

[2021-01-20 08:19] khanhlvg commented on #259
@GeneralJing  what was the error that you saw?

[2021-01-20 09:22] GeneralJing commented on #259
delegates = [MetalDelegate()] this line， ‘MetalDelegate' cannot find. MetalDelegate()is undefined.

[2021-01-27 10:27] fergushenderson commented on #269
Does it help if you insert a call to System.gc() in the loop?

If so, the issue may be that mapped memory (allocated by loadMappedFile, which calls FileChannel.map, which ends up calling the underlying system call mmap()) isn't being reclaimed until garbage collection happens, but garbage collection may not be happening because you're not running out of *heap* space.

[2021-01-28 15:56] DavidRobb commented on #269
I've just tried adding a System.gc() in the loop for both the cases: where just the processImage is in the loop and where all objects are recreated in the loop:

No noticeable difference from the observations without the System.gc() call.

Still crashes with an OOM

[2021-02-01 16:40] lupitia1 opened #311 "Cannot convert tensorflow model (resnetv1_50 based) to tflite"
Hello! I trained a model based on resnet50 with Tensorflow.
After saving the model in checkpoint format (checkpoint, index, meta) I'm using the same session to convert the model to tflite.

The code is the following:

[code]

**These are my inputs:**
[<tf.Tensor 'fifo_queue_Dequeue:0' shape=(1, 200, 200, 3) dtype=float32>,
<tf.Tensor 'fifo_queue_Dequeue:1' shape=(1, 26, 26, 21) dtype=float32>,
<tf

[2021-02-03 14:25] FelipeAdachi opened #319 "Error running Bert Question Answerer"
Hello!

I tried using the Bert Question Answerer Demo exactly as instructed [here](https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/examples/task/text/desktop/README.md).

I installed bazel from bazelisk, downloaded the tflite model with `curl`:

[code]

And ran the classification tool:
[code]

However, I'm getting the error `No input process unit found from metadat

[2021-02-03 14:39] FelipeAdachi commented on #319
Ok, shortly after opening the issue, I got what's wrong.

Instead of downloading  the model from https://tfhub.dev/tensorflow/lite-model/mobilebert/1/default/1?lite-format=tflite, I downloaded the version with metadata: https://tfhub.dev/tensorflow/lite-model/mobilebert/1/metadata/1?lite-format=tflite

That fixed my problem!
Thank you!

[2021-02-03 14:39] #319 closed

[2021-02-04 10:07] arturdryomov opened #323 "Publish to Maven Central or Google Maven"
Seems like TensorFlow Lite support and base artifacts are hosted on JCenter.

* [TensorFlow Lite](https://mvnrepository.com/artifact/org.tensorflow/tensorflow-lite?repo=bt-google-tensorflow)
* [TensorFlow Lite GPU](https://mvnrepository.com/artifact/org.tensorflow/tensorflow-lite-gpu)
* [TensorFlow Lite support](https://mvnrepository.com/artifact/org.tensorflow/tensorflow-lite-support)

The Tensor

[2021-02-07 09:04] lu-wang-g commented on #323
Thanks for flagging the issue! We'll further investigate it!

@xunkai55 can you please align with the team and see how we should continue serving AAR targets?

[2021-02-07 09:37] arturdryomov commented on #323
Might be related to tensorflow/tensorflow#46964.

[2021-02-07 09:45] xunkai55 commented on #323
Thanks @arturdryomov, exactly we're considering moving to another maven repo (possibly Google Maven or Maven Central).

[2021-02-07 16:45] adumrewal commented on #259
@GeneralJing as per the tflite documentation:

"From 2.4.0 version and latest nightly releases, by default GPU and Core ML delegates are excluded from the pod to reduce the binary size. You can include them by specifying subspec:
`pod 'TensorFlowLiteSwift', :subspecs => ['CoreML', 'Metal']`"

So you'll have to add 'Metal' to your podfile and only then will it be available.

[2021-02-07 21:48] henry8th opened #329 "TFlite Variable output dimension"
Hello,
In the tflite java inference docs its mentioned that there is no straight forward way to interpreter.run a model with variable length outputs however support for this is a planned feature, is there a reference to the non straightforward way you could provide?
Would implementing the model via the C++ api be a better approach?
Many thanks

[2021-02-10 08:40] pranathibl opened #333 "Steps to build dynamic libraries of tflite for raspberry pi and aarch 64(armv8) boards"
I have not found steps to build and generate dynamic tfLite library for these hardware devices. Could You provide me the steps to build dynamic .so for tfLite library.

[2021-02-10 21:44] GeneralJing commented on #259
Thanks. I will try that later. Whatever result i have, i will leave a message here.

[2021-02-11 00:04] latesh opened #338 "KeyError: 'Assert_AssertGuard_true_12261'"
Hello! Am getting the following error while trying to convert to tflite model.

[code]

Code to convert the model:

[code]

[2021-02-12 12:01] #311 closed

[2021-02-16 13:14] tuttelikz opened #345 "Kotlin support in future?"
Hi, just curious if support for kotlin is planned in the future?
Desirably, with some basic examples similar as described in [docs page](https://www.tensorflow.org/lite/inference_with_metadata/lite_support).
As of today, what is the best practice to integrate tflite-support for Kotlin project?
Thanks, find the lib useful :D

[2021-02-22 02:44] GeneralJing commented on #259
I tried it and it worked. Thank you. But the time is very long on iphone 6s.
Preprocessing:197ms
Model inference:56ms
Postprocessing:1591ms
Visualization:8ms.
How did you solve the time-consuming problem of tflite in practice？

[2021-02-23 11:32] pierremotard opened #352 "RESHAPE failed to prepare when invoking tf.signal.stft in tflite"
I am building a flutter app that needs to record an audio and predict some label using a tflite model I built. For linking the audio recording and tflite I use the flutter plugin tf-lite audio (https://github.com/Caldarie/flutter_tflite_audio).

The tensorflow model works on colab but when I launch the app and inference happens hence when it calls interpreter.invoke(), the following error occurs:

[2021-02-25 07:19] adumrewal commented on #259
Yeah I found it to be slow too. Didn't think it could be an issue with tflite implementation. I thought it must be related to model's size or something. I moved on from the model and am now looking for other alternatives.

[2021-02-25 08:28] GeneralJing commented on #259
Ok, thanks for your help.

[2021-02-25 08:28] #259 closed

[2021-03-01 16:56] jdduke commented on #352
Looping in @lu-wang-g and @renjie-liu to comment further.

[2021-03-02 02:36] lu-wang-g commented on #345
Kotlin support library is not prioritized at this moment. But I think we should create a few examples that utilizes the Support Liibrary in our Kotlin reference app.

@khanhlvg what do you think?

[2021-03-02 02:40] lu-wang-g commented on #338
@karimnosseir Could you please take a look at this issue?

[2021-03-02 02:41] lu-wang-g commented on #333
Does this instruction help? https://www.tensorflow.org/lite/guide/build_rpi

[2021-03-02 02:45] lu-wang-g commented on #329
I think interpreter.run does support variable length outputs. It just you'll need to get the shape of the output through interpreter and then reallocate your output buffer each time.

[2021-03-02 03:33] karimnosseir commented on #338
Hi @latesh
 Is the saved model generated runnable in TF before feeding it to TFLiteConverter ? If yes, can you share it.

Thanks

[2021-03-02 22:32] pierremotard commented on #352
Apparently  tf.signal.stft and tf.abs are not supported by tflite, so I had to implement them manually (tf.frame works though).
It looks like all the Flex delegate (Flex.RFFT, Flex.Abs, ...) from tensorflow is not working on tflite.
Do you think it could be updated in the near future? For much better optimization. Thanks!

[2021-03-03 00:16] lu-wang-g commented on #352
Looks like the issue is due to the invalid shape argument (second input, model_3/log_mel_spectrogram_2/stft/rfft2) to the Reshape op. The shape is [-1, -1, 513], however according to [reshape.cc](https://github.com/tensorflow/tensorflow/blob/fa5bbd6caeef9832f4b7126313a8980a4fe8b0f3/tensorflow/lite/kernels/reshape.cc#L58), at most one dimension of -1 is allowed.

@pierremotard do you know if we can

[2021-03-03 04:48] khanhlvg commented on #345
The current support library is totally usable in Kotlin although our documentation only shows Java sample code.

@tuttelikz You can copy paste the Java sample code into a Kotlin class in Android Studio and the IDE will automatically convert the code to Kotlin for you if you choose to.

[2021-03-03 04:48] #345 closed

[2021-03-03 14:02] renjie-liu commented on #352
yes, can you fix the batch dimension? thanks!

[2021-03-04 08:47] latesh commented on #338
Hello @karimnosseir
Yes, the model is runnable in TFJS. Here is the repo: [fastdepth_tfjs](https://github.com/grasskin/fastdepth_tfjs)

[2021-03-04 18:41] karimnosseir commented on #338
Can you please share the saved model

Thanks

[2021-03-05 08:52] yuxiazff opened #372 "can not download sources in android by gradle"
I am runing the demo 'https://github.com/tensorflow/examples/tree/master/lite/examples/text_classification/android' in android. When i try to download the source of 'tensorflow-lite-task-text-0.0.0-nightly@arr' with gradle,  i got the error as follows:

`16:39:51: Executing task 'DownloadSources --info'...

Executing tasks: [DownloadSources] in project D:\androidstudioprogram\examples\lite\example

[2021-03-06 01:30] lu-wang-g commented on #333
I'll close this issue for now. Feel free to reopen if you have further questions.

[2021-03-06 01:30] #333 closed

[2021-03-06 01:31] lu-wang-g commented on #329
I'll close this issue for now. Feel free to reopen if you have further questions.

[2021-03-06 01:31] #329 closed

[2021-03-06 01:36] lu-wang-g commented on #372
The nightly build was broken, and we've created a new target ['org.tensorflow:tensorflow-lite-task-text:0.0.0-nightly-SNAPSHOT'](https://bintray.com/google/tensorflow/tensorflow-lite-task-text/0.0.0-nightly-SNAPSHOT). You can also use the 0.1 version. See [here](https://github.com/tensorflow/examples/blob/e6e7388f90c6450edc9eda7bf9d293a79cbef6cc/lite/examples/text_classification/android/lib_task_a

[2021-03-07 08:38] adumrewal commented on #259
Hey @GeneralJing, just found this note in the tflite sample codes:
[code]
Also checkout the following:
https://blog.tensorflow.org/2020/07/accelerating-tensorflow-lite-xnnpack-integration.html

[2021-03-07 14:30] GeneralJing commented on #259
I only tested the relevant time on my mobile phone and did not notice the relevant notes. Thank you for your carefulness and reminder. The added link is very valuable, and I will study it carefully. If I encounter other related problems later, can I communicate with you by email？

[2021-03-07 17:24] adumrewal commented on #259
Haha yeah, same with me. Also, one more thing I noticed was that the post-processing codes were not optimised (atleast for my use-case) and do not utilise the gpu either. So that is also something you can look into if you want improved performance.

Yeah sure, feel free to reach out.

[2021-03-09 16:44] latesh commented on #338
This is not my work! So am afraid that I don’t have access to the saved model. Closing the issue for now.

[2021-03-09 16:44] #338 closed

[2021-03-10 14:30] lc0 opened #379 "Logging assets path are wrong"
![image](https://user-images.githubusercontent.com/775466/110644221-2bde8880-81b5-11eb-888a-5330ee2fd633.png)

it looks like the paths that are printed by a logger are wrong and do not even exist. Or am I missing anything here?

[2021-03-11 12:43] ac4391 commented on #323
Hello,

Any news regarding this issue? I can't use my tflite model on Android studio anymore.

[2021-03-11 15:17] ac4391 commented on #323
Hi @xunkai55 ,

Thanks for reaching out so quickly.

Here is the error I receive when I try to use tensorflow lite :

![MicrosoftTeams-image (7)](https://user-images.githubusercontent.com/42954657/110809231-00c36a00-8285-11eb-9352-2b0dce3df6ee.png)

![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/42954657/110809321-1042b300-8285-11eb-8584-f11ac147fb84.png)

It worked fine unt

[2021-03-11 15:21] xunkai55 commented on #323
The first image looks somehow compressed. Could you please paste a clearer version or the message directly? Thanks!

[2021-03-11 15:22] arturdryomov commented on #323
Plain text would be great as well!

[2021-03-16 08:39] ac4391 commented on #323
Hi,

here is the error message :

FAILURE: Build failed with an exception.
 
* What went wrong:
Execution failed for task ':app:checkInterpreterDebugAarMetadata'.

   > Could not resolve org.tensorflow:tensorflow-lite:0.0.0-nightly-SNAPSHOT.
     Required by:
         project :app > project :lib_interpreter
      > Could not resolve org.tensorflow:tensorflow-lite:0.0.0-nightly-SNAPSHOT.
         >

[2021-03-22 07:40] SasukeFromTheHiddenLeaf opened #395 "Bazel run failed on nl_classifier_demo"
Device Details:

**OS:**     Ubuntu 16.04.7 LTS
**Bazel:** 3.1.0
**GCC:**  gcc (Ubuntu 7.5.0-3ubuntu1~16.04) 7.5.0
**G++:**  g++ (Ubuntu 7.5.0-3ubuntu1~16.04) 7.5.0
**Python3:** 3.5.2
**Python:** 2.7.12

Command
`bazel-3.1.0 run -c opt  tensorflow_lite_support/examples/task/text/desktop:nl_classifier_demo --  --model_path=/tmp/movie_review.tflite  --text="What a waste of my time."  --input_tensor_

[2021-03-23 16:56] ivelin opened #397 "TFLite Model personalization on IoT devices"
Hello tflite-support team!

Thank you for building an awesome project.

Do you have roadmap visibility for model personalization (transfer learning) on IoT devices (e.g. rpi) ? The feature has been available for Android since 2019 and the [blog post hints](https://blog.tensorflow.org/2019/12/example-on-device-model-personalization.html) to an upcoming implementation for other platforms.

The evolu

[2021-03-23 19:07] lu-wang-g commented on #397
@ziyeqinghan @lintian06 can you please share the roadmap for Model Maker?

[2021-03-23 19:09] lu-wang-g commented on #379
Loop in @ziyeqinghan to further comment on this issue.

[2021-03-23 19:29] lu-wang-g commented on #395
I cannot reproduce this issue. Seems like it's due to different local bazel configurations.

Does it help if you change the [method signature](https://github.com/tensorflow/tflite-support/blob/f80be3226744fa662c4fc8cdf6d256b639d7f88c/tensorflow_lite_support/cc/task/text/nlclassifier/nl_classifier.cc#L84) from
[code]
to
[code]
?

[2021-03-24 04:33] lintian06 commented on #397
[Model Maker](https://www.tensorflow.org/lite/guide/model_maker) can do transfer learning, and those models are able to run on Raspberry Pi.

[2021-03-25 20:11] tinder-owenthomas opened #404 "TensorFlowLiteTaskText requires outdated GoogleToolboxForMac"
Currently the Cocoapods podspec for `TensorFlowLiteTaskText` has a dependency on Google Toolbox with an explicit version (`'GoogleToolboxForMac', '2.2.1'`). This is no longer the latest version of the Toolbox though which is starting to cause conflicts with other Pods. Any chance the podspec could be updated to use major version pinning so it can adjust as Google releases new minor and patch relea

[2021-03-26 19:03] ivelin commented on #397
@lintian06 thank you for the update. That is great!

Is there roadmap visibility on support for tasks other than the 3 currently listed. Possibly via lower level API that is not task specific:

Supported Tasks | Task Utility
-- | --
Image Classification | Classify images into predefined categories.
Text Classification | Classify text into predefined categories.
BERT Question Answer | Find the answ

[2021-03-29 10:14] wangtz commented on #404
Sound reasonable to me.

Any thoughts @yyoon ?

Thanks,
Tiezhen

[2021-03-29 13:31] lintian06 commented on #397
Hi @ivelin ,

There are a couple of new tasks in progress. We will have object detection, sound classification and recommendation soon.

[2021-03-29 18:42] ivelin commented on #397
Thank you for sharing, @lintian06 . That's great to know.

It is very impressive how the overall size of the TFLite binary keeps shrinking and at the same time its becoming more capable.

Would you be able to share whether a lower level API would be available to train a more general class of models, no specifically tied to a task. I am not sure if this is possible without pulling a big lump of Ker

[2021-03-30 00:06] yyoon commented on #404
Sounds good to me.

@lu-wang-g @xunkai55 Should we push a new version with this change?

[2021-03-30 00:51] lu-wang-g commented on #404
A new version will be great! As we are soon releasing TFLite Support 2.5 on the Java side, so it will be great to push for a new Cocoapods version. @xunkai55 is the Cocoapods release under your plan?

Also, is it possible to pin to the major version as suggested?

[2021-03-30 01:42] yyoon commented on #404
I think we should rather publish 0.1.1 ASAP with only the dependency constraint change from 0.1.0. This should unblock any users having the same issues right now. I can proceed with that if you're okay with it.

Yes, that's well supported by CocoaPods, as suggested by @tinder-owenthomas. I'd prefer we specify `~> 2.2.1` as we haven't really tested it between `[2.0.0, 2.2.1)`.

[2021-03-30 01:47] lu-wang-g commented on #404
@yyoon sounds good! Actually, it's not TFLite Support 2.5; it's TFLite Support 0.2, which depends on TFLite 2.5. But anyway, 0.1.1 sounds good to me. Thanks a lot!

[2021-03-30 06:31] yyoon commented on #404
@tinder-owenthomas I've just published `TensorFlowLiteTaskText` pod version `0.1.1` with the modified dependency constraint.

I'm closing this for now, but please feel free to reopen if the issue hasn't been properly resolved.

[2021-03-30 18:12] tinder-owenthomas commented on #404
Thanks for looking into this @yyoon!

It looks like right now it is pinned at `~> 2.2.1` which will allow for patch updates, but only as far as 2.2.2 (as that's the last 2.2 patch they issued). Any chance we can pin at `~> 2.2` without the patch specifier to allow any 2.x.x version? Google is up to 2.3.1 now which is what our other dependencies are looking for, and will presumably bump to 2.4.x in

[2021-04-01 02:31] yyoon commented on #404
Oh, somehow I didn't realize CocoaPods would lock the minor version as well when specifying the patch.
Yeah, the intended behavior is the one you described with `~> 2.2`. I'll try updating this again and let you know.

[2021-04-02 04:52] yyoon commented on #404
@tinder-owenthomas This should be fixed by now. Could you repo update and try again?

[2021-04-04 18:19] soumyaiitkgp opened #427 "ValueError: This converter can only convert a single ConcreteFunction. Converting multiple functions is under development."
Upon converting .pb file to .tflite I get the following error:

INFO:tensorflow:Saver not created because there are no variables in the graph to restore
I0404 23:07:14.163655  1356 saver.py:1503] Saver not created because there are no variables in the graph to restore
2021-04-04 23:07:14.182173: I tensorflow/stream_executor/platform/default/dso_loader.cc:44] Successfully opened dynamic library nvc

[2021-04-10 20:13] AryanSethi opened #448 "tflite model giving extremely FPS"
I'm trying to run [this](https://tfhub.dev/intel/lite-model/midas/v2_1_small/1/lite/1) tflite model and it's taking about 0.5 seconds for prediction on each frame. While on android and iOS phones, it gives over 20 FPS.

Refer to [my issue](https://github.com/intel-isl/MiDaS/issues/97) for more details

[2021-04-12 07:37] idstein commented on #323
Bintray will trigger from time to time service outages to remind everyone that this is before their service shutdown. See the shutdown roadmap on the referenced blog entry: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/.

Next scheduled brown out will be today Apr 12, 13:00-21:00 UTC, see https://status.bintray.com

[2021-04-12 12:18] ben-xD opened #450 "What is the meaning of score (e.g. 8.109188)?"
I am trying to understand what score means, its not a probability as you can see in the debugger in my ide.

For example, shoe shop has a score of 8.109188, what does that mean? Thank you
![Screenshot 2021-04-12 at 12 23 29](https://user-images.githubusercontent.com/24711048/114393082-8b073280-9b91-11eb-987a-a3c16390b3dc.png)

[2021-04-12 12:24] ben-xD commented on #450
I noticed
[code]

I guess its meant to be a **probability**, but this 8.109188 is almost too certain to not be a probability

[2021-04-12 12:39] ben-xD commented on #450
Oh I see whats happening, it looks like it doesn’t fully support quantised models: e.g. this one: https://tfhub.dev/tensorflow/lite-model/mobilenet_v2_1.0_224_quantized/1/metadata/1

It looks like this library doesn't support quantized models. The output of a quantized model is 0-255 and it fails to convert this into probabilities. I am using the Tensorflow lite task library (**ImageClassifier**)

[2021-04-12 19:16] ben-xD opened #451 "TFLite Support Codegen Tool: Quantized models don't output probabilities"
I am trying to understand why the denormalised (or dequantized) output from my quantized model does not lie between 0 and 1, as they **should be probabilities**. Instead, they are sometimes negative float numbers, and sometimes numbers larger than 10.

I used the TFLite support codegen tool to generate the class, so I did not mess with this class. I have also found that MLKit, TFLite task library

[2021-04-12 19:31] ben-xD commented on #451
Oh, I understand what it is doing: The output tensor has a property inside it which keeps track of the quantization it had. And this is not a code error, but a model issue. My input image could be causing wildly different probabilities because the model has not seen it before.

[2021-04-13 18:12] lu-wang-g commented on #451
No problem. Let us know if you have further questions.

[2021-04-13 18:12] #451 closed

[2021-04-13 18:27] lu-wang-g commented on #450
Task library should support quantized model very well. But this model looks weird. The output range is [[-5.7, 0.01]](https://screenshot.googleplex.com/BoG2GnB2oLnP2P2.png), where it should be something like [[0, 1]](https://screenshot.googleplex.com/6zd3Gkej8FmzLh3.png). I'll ask internally what's going here.

[2021-04-14 13:25] ben-xD commented on #450
Thanks @lu-wang-g

I'm curious where you got [-5.7, 0.01] range, i think the max value is **19.48** not 0.01?

I did a small bit of analysis:
1. When looking at the model in Netron, it looks like output quantization shows: `quantization: -5.735767364501953 ≤ 0.09889253973960876 * (q - 58) ≤ 19.481830596923828`. I'm not able to see the googleplex screenshot link you added: https://screenshot.google

[2021-04-14 16:02] maxkaustav opened #453 "Does tflite support tensorflow probability?"
I have a Tensorflow probability model can it be converted into tflite format

[2021-04-14 17:07] lu-wang-g commented on #450
You're right about the value range. My screen shot also come from Netron, but it only snipped part of the screen.

[2021-04-15 23:34] tinder-owenthomas commented on #404
Seems to be working. Thank you!

[2021-04-15 23:34] #404 closed

[2021-04-15 23:47] yyoon commented on #404
Thanks for confirming!

[2021-04-22 17:05] xunkai55 commented on #323
We've already pushed artifacts to Maven Central. Closing it now. For any issues related, Feel free to reopen.

[2021-04-22 17:05] #323 closed

[2021-04-24 12:49] surya422k opened #479 "library error"
fatal error: tensorflow_lite_support/cc/port/statusor.h: No such file or directory

[2021-04-27 00:56] lu-wang-g commented on #479
Can you please provide more context of this error, and how to reproduce it?

[2021-04-27 00:59] lu-wang-g commented on #453
TFLite is able to convert most TF models. Can you please first try convert your model according to our [public documentation](https://www.tensorflow.org/lite/convert)? Let us know if you run into any issue.

[2021-04-27 01:02] lu-wang-g commented on #450
The output of https://tfhub.dev/tensorflow/lite-model/mobilenet_v2_1.0_224_quantized/1/metadata/1 is not the probability but logics before softmax. So the range is not [0, 1]. You can apply softmax to the result as needed, or just use it as it is to indicate the probability of a class. I've created an internal bug to track this, and we'll update the documentation of it.

[2021-04-27 01:02] #450 closed

[2021-04-27 01:10] lu-wang-g commented on #448
By "0.5 seconds", do you mean to run it on desktop? If so, it is expected, because TFLite is not specifically optimized for desktop. You can try running tflite with [xnnpack](https://blog.tensorflow.org/2020/07/accelerating-tensorflow-lite-xnnpack-integration.html) (soon, xnnpack will become default), or using the [Coral EdgeTpu delegate](https://coral.ai/docs/edgetpu/tflite-cpp/#set-up-the-tf-lit

[2021-04-27 01:15] lu-wang-g commented on #427
@MeghnaNatraj Can you please take a look at this?

[2021-04-27 01:16] lu-wang-g commented on #372
Closing the issue. Let us know if you have other questions. Thanks!

[2021-04-27 01:16] #372 closed

[2021-04-27 01:19] lu-wang-g commented on #395
I'll close this issue for now. Feel free to let us know if you have further questions.

[2021-04-27 01:19] #395 closed

[2021-04-27 01:22] ziyeqinghan commented on #379
Please just ignore the log for the tmp files. It's just generated temporarily as the intermediate files and removed automatically. model.tflite should be enough for the inference.

[2021-04-27 09:54] AryanSethi commented on #448
@lu-wang-g
Yes, I was running the script on my desktop and as I could see, it wasn't even using my GPU.
So will running it on any edge device solve the problem?

[2021-04-27 18:38] lu-wang-g commented on #448
I don't think tflite is supported on desktop GPU. Running on Coral edgetpu will give you 20x ~ 60x speed up.

[2021-04-27 20:46] lc0 commented on #379
@ziyeqinghan thanks for the clarification! would it make sense to disable this output if a user can not make use of it?

[2021-04-28 02:33] MeghnaNatraj commented on #427
@soumyaiitkgp Update your command as follows:

`tflite_convert --graph_def_file=tflite_graph.pb --output_file=detect.tflite --input_shapes=1,300,300,3 --input_arrays=normalized_input_image_tensor --output_arrays=TFLite_Detection_PostProcess --allow_custom_ops`

You don't have to provide a saved model when you're already providing a graph def.

[2021-04-28 09:43] #448 closed

[2021-05-04 21:36] clgilbe opened #490 "Pre-process input for InceptionV3 tflite model"
I have successfully converted an InceptionV3 model to tflite using toco and inference type FLOAT.  I have verified that the tflite model will produce good classification confidence levels as long as the image input data is pre-processed the exact same way as the input to the .pb model.  I verified this by extracting the preprocessed data on .NET and running the exact same input on the tflite model

[2021-05-05 22:38] lu-wang-g commented on #490
Can you please give a code snippet of how you used ImageProcessor with ResizeOp as well as the results of ResizeOp and resize_bilinear respectively?

[2021-05-19 17:33] clgilbe commented on #490
Closing this issue as we used tflite-model-maker to train the InceptionV3 model for Android

[2021-05-19 17:33] #490 closed

[2021-05-24 11:16] rajeev-tbrew opened #534 "Difference between CPU and GPU output for same input"
Hello

First of all thank you for making such a wonderful library. This is very helpful.

We were trying to use this library for a model and noticed that there is definite difference between the output from GPU vs CPU for a tflite model (for the same input tensorbuffer). Is there a particular reason for the same. We used the following kotlin code to create options for the model.

    val compatibi

[2021-05-25 07:31] lcmeng opened #539 "Evaluating Imagenet accuracy of TF Lite models"
Hi,

I used the official Imagenet accuracy evaluation tool at tensorflow/tensorflow/lite/tools/evaluation/tasks/imagenet_image_classification/ on the official quantized MobileNet V2. However, the reported accuracy is far below the expected. The MB V2 is downloaded from https://tfhub.dev/tensorflow/lite-model/mobilenet_v2_1.0_224_quantized/1/default/1. The run settings below have followed the [inst

[2021-05-26 04:36] arturdryomov opened #541 "Android: RGB bitmap from YUV image"
[v0.2.0](https://github.com/tensorflow/tflite-support/releases/tag/v0.2.0) introduced support for YUV `android.media.Image` as part of the `tensorflow-lite-task-vision` artifact. Seems like it uses [`libyuv`](https://chromium.googlesource.com/libyuv/libyuv/) under the hood. As far as I understand `TensorImage` delegates to `MediaImageContainer` in this case. At the moment of writing it doesn’t sup

[2021-05-28 15:11] FSet89 commented on #534
Did you find an answer for this problem?

[2021-05-28 15:13] FSet89 opened #543 "tflite quantized model producing different results on CPU / NNAPI+NPU"
I have a quantized tflite model that is deployed on a system equipped with a NPU and NNAPI. I noticed that the same module produces different outputs when the inference is performed on a CPU instead of NPU+NNAPI. Sometimes the differences are very high. What is the reason for this?

[2021-05-31 07:19] rajeev-tbrew commented on #534
@FSet89 No, I have not been able to find a solution. I saw that you have raised similar issue where difference is between CPU and NNPI. At least the issue I reported is some what validated :).

[2021-05-31 07:25] FSet89 commented on #534
Yes, in my case the problem might be related with the quantization, as the inference device (NPU) may have some precision issues depending on how the quantization is performed (symm(asymm, per channel /per axis, int8/uint8...). Are you using a quantized model?

[2021-05-31 07:29] rajeev-tbrew commented on #534
Yes, it is a quantized model but I feel implementation should be consistent OR at least we should know how to make it beave similarly. I think this library is currently evolving and we should have more info coming soon.

[2021-06-06 09:12] Guillaume-slize opened #549 "Encoding/decoding NLP model in tensorflow lite (fine-tuned GPT2)"
We are in the process of building a small virtual assistant and would like it to be able to run a fine-tuned version of GPT-2 on a raspberry-pi with a coral accelerator.

So far, we managed to convert our model to a tflite and to get first results. We know how to convert from words to indices with the previous tokenizer but then we need a bigger tensor as input to the interpreter. We miss the conv

[2021-06-10 00:40] wangtz commented on #541
@lu-wang-g Hi Lu, Any thoughts on this?

[2021-06-10 00:41] wangtz commented on #539
Hi LC,

It seems that the issue you reported is not related to tflite_support, rather a TFLite issue. Do you want to raise the issue in http://github.com/tensorflow/tensorflow ?

Thanks,
Tiezhen

[2021-06-10 00:44] wangtz commented on #549
@lu-wang-g  Hi Lu, it seems to be an issue related to GPT2Tokenizer, do you know which team maintains the GPT2Tokenizer?

[2021-06-10 00:47] wangtz commented on #543
Hi There,

Thanks for reporting the issue. Task library calls TFLite underneath for the invocation on CPU v.s. NNAPI.

If the CPU results are correct (the same as TF in training), then it might be an issue with NNAPI or vendor (NPU chip vendor) implementation.

If the CPU results are incorrect, it might be an issue with TFLite implementation.

In either cases, please raise the issue in https://git

[2021-06-10 00:48] wangtz commented on #534
@lu-wang-g

[2021-06-10 19:36] lu-wang-g commented on #549
You should be able to do step 2 by copying date from context_idx to input_data.  Let me know what your problem is when doing so.

[2021-06-10 19:40] lu-wang-g commented on #534
@rajeev-tbrew, can you please provide the code snippet of creating tensorbuffer and passing it to Model? Thanks!

@xunkai55 to investigate this further.

[2021-06-10 19:44] lu-wang-g commented on #543
@FSet89 can you please also provide the code snippet of how your inference is done? I guess the Support Library is used, right? As Tiezhen said, it will be great if you know which inference is correct, CPU or NNAPI.

[2021-06-10 22:26] lu-wang-g commented on #541
Converting to RGB and image rotation are supported in Task library through `ImageProcessingOptions`, such as [ImageClassifier#classify(TensorImage, ImageProcessingOptions)](https://github.com/tensorflow/tflite-support/blob/e47db51bb665587ea113b49ee78bb27046d6547b/tensorflow_lite_support/java/src/java/org/tensorflow/lite/task/vision/classifier/ImageClassifier.java#L421). You don't need to convert i

[2021-06-10 22:28] lu-wang-g commented on #539
Maybe @multiverse-tf can help us take a look at this issue.

[2021-06-11 06:03] arturdryomov commented on #541
@lu-wang-g, thanks for details!

I understand that the `Bitmap` becomes kind of redundant but we still need it (for our use case) to save the image as a JPEG file. Maybe it can be done on the native level as well though. We don’t save all images however since not everything is useful. Not sure how popular this scenario is to do the investment but I imagine that saving model-enriched images after t

[2021-06-11 06:55] multiverse-tf commented on #539
+1.

And regarding the accuracy, what're the values if only the first 300 images are evaluated? Thx!

[2021-06-11 09:20] xunkai55 commented on #541
@arturdryomov I agree with that saving images could be very useful, at least for debugging purposes I can imagine.

If adding implementation to `getBitmap` on `MediaImageContainer` is all your need, and not very concern about performance, we can add an implementation there (as far as I know, our C++ YUV library is really fast, Java implementation might not be that efficient), but we can not promis

[2021-06-11 09:30] xunkai55 commented on #534
Thanks for your nice words!

I'd like to know if there's any possibility to have a model and a piece of data for debugging purpose, so that we can reproduce the problem on our side. In theory, GPU / CPU inference should be consistent.

[2021-06-11 11:24] xunkai55 commented on #269
@DavidRobb In your snippet, you never `close` the interpreter. Could you please add `close` calls and retry?

Ref: https://www.tensorflow.org/lite/api_docs/java/org/tensorflow/lite/Interpreter

[2021-06-14 15:53] Lescurel opened #555 "CMake Support"
Is there any update on the CMake support mentioned in issue #154 ? (cf [this comment](https://github.com/tensorflow/tflite-support/issues/154#issuecomment-694343887))

[2021-06-16 12:35] rajeev-tbrew commented on #534
@xunkai55 sorry for the delayed response. Here is how we can reproduce.

The model is Mediapipe pose detector available on this [URL](https://github.com/google/mediapipe/tree/master/mediapipe/modules/pose_detection).

To use GPU, I used kotlin to set options using the following code:

[code]

In Java, the following code works with the image and prepares it for model input

[code]

Following code t

[2021-06-17 08:30] Guillaume-slize commented on #549
Dear @lu-wang-g ,

Many thanks for your answer.
When we try what you suggest, this is what we get:
`ValueError                                Traceback (most recent call last)

<ipython-input-40-d8a95a34331a> in <module>()
     24
     25 #3- feed input
---> 26 interpreter.set_tensor(input_details[0]['index'], input_data)
     27
     28 #4- Run inference

/usr/local/lib/python3.7/dist-packages/te

[2021-06-17 09:10] DavidRobb commented on #269
Sorry for the delay in replying. I've just tried adding the tflite.close to the main loop in the OOM example and it makes no difference.

However, I have discovered that it works fine (with or without the close) for the emulated Pixel XL API 28 and shows no sign of a memory leak.

but with the emulated Pixel 2 API 27 or my hardware Moto G 5  the leak exists and it crashes after a few thousand iter

[2021-06-17 09:35] xunkai55 commented on #269
@DavidRobb Thanks for reporting, it could be really important.

Could you please try moving the creation and closing of interpreter out of the loop? That can tell us if the memory leak happens in inference calls, or create/close of the interpreter. Thanks!

[2021-06-17 10:03] DavidRobb commented on #269
@xunkai55 Just tried this. Moving the tflite creation and close outside the loop provides results similar to my original code example:
No obvious memory leak shown in the profiler but after 1726 iterations:

`2021-06-17 10:48:53.682 1098-1098/com.android.example.camerax.tflite I/CameraActivity:  1725 nu null
2021-06-17 10:48:53.994 1098-1098/com.android.example.camerax.tflite I/CameraActivity:  17

[2021-06-17 10:11] xunkai55 commented on #269
@DavidRobb well received. Let me try this on my machine.

[2021-06-17 10:15] xunkai55 commented on #555
Sorry we currently have no updates for this issue. Any contribution is deeply welcomed.

[2021-06-18 02:34] #555 closed

[2021-06-18 09:36] aakbar5 opened #563 "image_embedder demo is missing model"
image_embedder demo is missing instructions to download model and its model can't be found on tfhub as well.

[2021-06-20 13:51] WeiHao97 opened #566 "Calculate Gradient w.r.t input for quantized tflite model"
Hi, I am trying to calculate Gradient w.r.t input for quantized tflite model. But I noticed that there is no training path in tflite so I am re-constructing a regular tensorflow model who shares the same architecture and weight from the tflite model but only in floating point format. During the reconstruction, I am wondering how is the input quantization handled by tflite. If the input is a single

[2021-06-21 03:26] Aryan-Solanki opened #567 "i have 3 tflite and some python code that connects tham together.how do i integerate them with android"
![image](https://user-images.githubusercontent.com/37494973/122703239-bcc20700-d26e-11eb-9156-481c839ae4e5.png)

 there are multiple python files and i want to integerate it with flutter do i have to change my python code to dart???

[2021-06-21 14:27] xunkai55 commented on #534
Thanks for reporting. I can reproduce an inconsistency on my machine and pixel 4. Will investigate deeper.

[2021-06-21 15:01] xunkai55 commented on #543
Also discovered CPU / GPU difference in https://github.com/tensorflow/tflite-support/issues/534#issuecomment-862342445.

[2021-06-22 00:43] lu-wang-g commented on #549
According to the error message, the input shape is [batch, 5]. Your model doesn't seem to accept variable input length. You can verify it by printing out `input_shape`, where `input_shape = input_details[0]['shape']`, and see if each dimension has value other than -1. Normally for NLP models, it (5 in this case) means the maximum number of ids accepted. If your number of ids is less than 5, pad it

[2021-06-22 00:49] lu-wang-g commented on #563
Thanks for the feedback! We'll add instructions when ImageEmbedder is fully released. If you are interested, try out this [embedder model on TFHub](https://tfhub.dev/google/imagenet/mobilenet_v3_large_100_224/feature_vector/5).

[2021-06-22 00:59] lu-wang-g commented on #566
@liyunlu0618 Can you please comment on the questions about quantization above? Thanks!

[2021-06-22 01:03] lu-wang-g commented on #567
@wangtz any suggestions for flutter integration?

[2021-06-22 02:04] xunkai55 commented on #534
Hi there,

TFLite by default turns on a switch for GPU inference, which allows performance loss but gains faster speed.

TFLite Support (`org.tensorflow.lite.support.model.Model`) adopts default settings so that switch is on. In a very simple demo, I turned off that switch (by using TFLite interpreter / delegate API) and the result looks identical then.

Please take a look.

In the future, we need

[2021-06-22 02:07] xunkai55 commented on #534
@rajeev-tbrew Here's how to replace the `Model` with `Interpreter` (copy-pasted from the zipped project above):

[code]

[code]

[2021-06-22 05:45] rajeev-tbrew commented on #534
Thank you @xunkai55. It will be great to have this option exposed in the support library as it makes usage of tflite models quite simple. Please feel free to close this issue if you want to track this feature request in a separate thread or you can keep it open till this option is made available in tflite-support . Thanks once again for your help.

[2021-06-22 07:16] wangtz commented on #567
Hi Aryan,

From file name (augmentation) it looks like the python file is for training so irrelevant to deployment. Task library helps you easily deploy the TFLite file on mobile.

We don't have official task library support for Flutter, you might want to try https://pub.dev/packages/tflite for now.

[2021-06-23 11:44] fraxx001 opened #569 "Simple TFLITE Quant uint8 model does not work properly on TFLITE-MICRO"
Hi,
I have created a simple MobileNetV2 model with tensorflow_model_maker for object detection with the following code:
[code]

Furthermore i exported this model with
[code]
to run it in a tflite-micro environment.

The following code is a modification of the hello_world which initializes the tflite-micro environment end allocates the tensors:
[code]

This code fails with the following error:
[cod

[2021-06-23 12:28] fraxx001 commented on #569
Moved to https://github.com/tensorflow/tensorflow/issues/50419

[2021-06-23 12:28] #569 closed

[2021-06-27 07:18] WeiHao97 commented on #566
@liyunlu0618 @lu-wang-g
Any updates? Thanks!

[2021-06-30 07:48] mikaraento commented on #534
We are looking into the differences here, however I wanted to help set expectations: GPU inference _will_ give different answers from CPU. Whether the difference is too large compared to the performance benefit depends on the usecase and we recommend you testing your specific model and usecase before production.

As an example, internal Pose detection models have significantly different results on

[2021-06-30 09:08] rajeev-mirelz commented on #534
@mikaraento Thanks for your inputs. I have slightly different views (which could be entirely wrong as well).

The model output in this case is not dependent on where we run it i.e. CPU or GPU. The reason it is different is because GPU is being run in a setup where precision loss is taken to speed up the inference. But if we remove that setup then both GPU and CPU give same exact outputs. That's wh

[2021-06-30 09:09] rajeev-tbrew commented on #534
@mikaraento Thanks for your inputs. I have slightly different views (which could be entirely wrong as well).

The model output in this case is not dependent on where we run it i.e. CPU or GPU. The reason it is different is because GPU is being run in a setup where precision loss is taken to speed up the inference. But if we remove that setup then both GPU and CPU give same exact outputs. That's wh

[2021-07-01 16:41] sharmadev2506 opened #576 "ResizeWithCropOrPadOp does not have functionality of cropping with bounding boxes, works only with center crop."
Hi, I have a requirement where I have to crop and resize an image with imageProcessor. The ResizeWithCropOrPadOp does only centre cropping and does not work with coordinates. Can anybody suggest anything?

[2021-07-08 11:41] jonpsy opened #587 "Support for Pose Estimation"
Hello all,

I've tried applying for this organization to implement Pose Estimation Task to the library. Regardless of my selection, I wish to contribute to this. @MeghnaNatraj  I believe you're the project lead for this (correct me if I'm wrong), I think the project details were to be shared when selected, but since nobody has taken it up would you mind sharing it with me? I'll try my best to impl

[2021-07-09 02:42] lu-wang-g commented on #587
@jonpsy thanks for reaching out. The position for the pose estimation API has been filled. And I don't think we can still accept new GSoC projects. Let me know if you are interested in working on other projects of the support library repo. You're more than welcome to contribute.

[2021-07-09 02:43] lu-wang-g commented on #576
Loop in @xunkai55 to take a look at this issue.

[2021-07-09 03:18] jonpsy commented on #587
@lu-wang-g Sure I would love to. I'd be interested on Vision Based Task mostly. How do i go about it?

[2021-07-09 19:08] lu-wang-g commented on #587
Model training is not in the scope of this repo, but if you are interested, I can help to refer you to the specific team member.

Since this will not be a formal program like GSoC, depending on your interest and availability, you can let us know any specific area/project you'd like to work on or improve. Or you can contribute to projects in our prioritized list, such as Task library Python API, me

[2021-07-09 19:55] jonpsy commented on #587
Thanks for the details. My interest mostly lies in inference on edge devices. In fact, as part of a project, I wrapped the ```TFLiteInterpreter``` functionalities around a simple user interface and used delegates to enhance performance, which is why I like this library because it does something very similar.

I'd be interested on tackling a new task. Currently my interest lies in Re-inforcement le

[2021-07-12 01:59] #566 closed

[2021-07-12 18:02] lu-wang-g commented on #587
Thanks for sharing your ideas with us!

Loop in @lintian06 to see if there are any opportunities for reinforcement learning in TFLite Model Maker.

For Task library related projects, will you be interested in developing new vision tasks, like super resolution, style transfer, and image text recognition?

[2021-07-12 19:28] jonpsy commented on #587
Honestly, all of this ideas are equally awesome! The one that piques my interest is the Super resolution task. I'd love to get started on it (assuming the reinforcement learning task isn't available).  Thanks for the response!

[2021-07-13 21:05] lu-wang-g commented on #587
Sounds great! Please email to tflite-support-team@google.com, and we can discuss further from there.

[2021-07-13 21:05] #587 closed

[2021-07-14 15:49] jcgeo9 opened #604 "TransformToGrayscaleOp"
Hello, I am having an issue with transformation to grayscale. I am using the following line:

        ImageProcessor imageProcessor =
                new ImageProcessor.Builder()
                        .add(new ResizeWithCropOrPadOp(cropSize, cropSize))
                        .add(new ResizeOp(imageSizeX, imageSizeY, ResizeOp.ResizeMethod.NEAREST_NEIGHBOR))
                        .add(new  Tran

[2021-07-14 18:32] lu-wang-g commented on #604
TransformToGrayscaleOp should be only available in the following two versions:
nightly build: org.tensorflow:tensorflow-lite-support:0.0.0-nightly-SNAPSHOT
0.2.0: org.tensorflow:tensorflow-lite-support:0.2.0

Are you using the one of the above two?

[2021-07-16 06:35] xunkai55 commented on #576
Sorry, currently we don't provide APIs to crop a with bounding box.

[2021-07-16 09:29] sharmadev2506 commented on #576
Okay. Thanks

[2021-07-16 09:29] #576 closed

[2021-07-16 21:31] jcgeo9 commented on #604
i was using nightly it i could not import it. Then i switched to 0.2.0 and it worked fine. thank you

[2021-07-16 21:31] #604 closed

[2021-07-23 08:48] yuyecreus opened #616 "Could not find org.tensorflow:tensorflow-lite-support:0.1.0-rc1"
Hello everybody :)

I am converting a transformer model for text classification to TFLite. Conversion works. When I integrate it in the Android Studio template for text classification ([https://www.tensorflow.org/lite/examples/text_classification/overview](url)) I use lib_interpreter and obtain the following error:

Execution failed for task ':app:checkInterpreterDebugAarMetadata'.

     Searched

[2021-07-23 09:57] yuyecreus opened #617 "TFlite model inference in Android Studio"
Hello everybody,

I am importing a CNN in Android Studio and now want to do inference on new images in an Android Device.

I load my labels from a text file:

`val labels = application.assets.open("labels.txt").bufferedReader().use { it.readText() }.split("\n")`

I get the bitmap of the selected image:

[code]

I instantiate the mode (which is in the float32 type, not-quantizedl:

`val model = Mod

[2021-07-25 05:21] xunkai55 commented on #616
0.1.0-rc1 was on Bintray/Jcenter, which is already sunset.

Could you please try 0.2.0 instead? Thanks!

[2021-07-25 05:47] xunkai55 commented on #617
`Bitmap#copyPixelsToBuffer` if I remember correctly copies RGBA data (4 channels). Wouldn't it throw an overflow error?

[2021-07-25 13:04] yuyecreus commented on #617
I think my app loads an image from the media storage as RGB so ByteBuffer.allocate(256 * 256 * 1  * 4) is enough but then the model expects a TensorBuffer.createFixedSize(intArrayOf(1, 256, 256, 3), DataType.FLOAT32). Any way I can't remove the A channel and just obtain the RGB image?

[2021-07-25 13:18] xunkai55 commented on #617
You can try to use our `TensorImage` utils.

(I'm just typing in the text input so it might have errors, but basically correct)

[code]

The Support library also provide utils for image cropping. Please check out: https://www.tensorflow.org/lite/inference_with_metadata/lite_support

[2021-07-25 18:29] yuyecreus commented on #616
Perfect! Changing to 0.2.0 works!

[2021-07-25 18:29] #616 closed

[2021-07-25 18:33] yuyecreus opened #623 "Integer input and Float output"
Hello,

So I am working in Android Studio with a Transformer model that receives input sequences consisting of **integer** tokens and outputs a **float** array of probabilities:

[code]

Then, when I run:

`tflite.run(input, output);`

I obtain the following error:

`Cannot convert between a TensorFlowLite tensor with type FLOAT32 and a Java object of type [[I (which is compatible with the TensorF

[2021-07-25 18:41] yuyecreus commented on #617
Thank you!

When trying:

[code]

I now obtain:

The size of byte buffer and the shape do not match.

[2021-07-26 21:05] lu-wang-g commented on #623
From the error message, it seems that your model expects float input. Do  you mind to share your model for us to investigate?

[2021-07-26 23:01] SarthakJaingit opened #624 "Question on what number does tflite model maker dataloader resize images to"
Hi,

I was working with the tflite model maker and I was wondering when creating a data loader like this:
`
train_dataloader = object_detector.DataLoader.from_pascal_voc('/content/voc_train_images',
                                                        '/content/voc_train_xml',
                                                        label_map= {1: "egg", 2: "TSSM", 3: "californicus", 4: "califor

[2021-07-27 08:49] yuyecreus commented on #623
Here it is. Thank you! https://www.dropbox.com/s/qcznjuhmlhb7abt/transformer.tflite?dl=0

By the way, when I train it in Tensorflow i feed it sequences of INT32 values. Maybe in the converter it specifies floats by default but what I feed it is Integer.

[2021-07-27 10:12] yuyecreus opened #626 "Sound classification with custom model"
Hello everybody :)

I am using the Sound Classification tensorflow template for building an app in Android Studio. The template uses a yamnet model, but when I import my custom model I obtain the following error.

I would also like to define my own labels and classes because my Sound Classificaiton custom model has been trained in a different dataset than the yamnet model.

`Error occurred when in

[2021-07-27 12:51] wangtz commented on #626
Hi Roger,

It means that you didn't populate metadata for this model, which is required for inference using task library.

You can do so using this library: https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/metadata/python/metadata_writers/audio_classifier.py

Here is an example how it's being used: https://github.com/tensorflow/examples/blob/5c4d9ef354e4843ce1528070

[2021-07-27 21:51] lu-wang-g commented on #624
@lintian06 could you please take a look at this question?

[2021-07-27 22:10] lu-wang-g commented on #623
You're right. You need to specify it through conversion. If you open your model using [Netron](https://netron.app/), you'll find both the input/output tensors are float. See the screenshot below.

![image](https://user-images.githubusercontent.com/47436172/127233987-4d897b8b-56b7-424d-b077-c5ab52a5bd18.png)

[2021-07-28 00:41] lintian06 commented on #624
The image size of the model input is 320x320.

[2021-07-28 08:16] yuyecreus commented on #623
Solved by defining float inputs to the model. Bad results was due to bad real-time preprocessing of the data

[2021-07-28 08:16] #623 closed

[2021-07-28 08:45] yuyecreus opened #628 "Profiling a TFLite"
Hello everybody :)

I am using a custom TFLite model in an Android Studio Application and want to profile it so I can see the resources spent in each layer of the model. I have followed [https://www.tensorflow.org/lite/performance/measurement](url) but I am not capable of seeing the layer-specific resources in the profiler window. I wonder what is the best way of profiling the TFLite model (I have

[2021-07-28 15:14] DavidRobb commented on #269
@xunkai55 Any progress? Have you been able to reporduce the problem?

[2021-07-29 09:16] #617 closed

[2021-07-29 09:20] yuyecreus opened #629 "ByteBuffer allocation for RGBA Images"
Hello everybody :)

I trained a CNN with tensorflow on RGBA images, so when I export it to TFLite and import it to Android Studio I get the suggestion:

`val inputFeature0 = TensorBuffer.createFixedSize(intArrayOf(1, 256, 256, 4), DataType.FLOAT32)`

Now, I want to load images from the media storage and predict a class for them so what I do:

[code]

I have set a value of 16 because I've found it

[2021-07-29 11:50] xunkai55 commented on #617
@yuyecreus Hi, sorry for the late reply. I wonder if you already solve the "size and shape do not match" problem.

[2021-07-29 12:04] xunkai55 commented on #629
Hi, continued the suggestion in the other issue, I still suggest you to make sure that your model is expecting 256 * 256 * 4 (width * height * channel) floats as input.

Secondly, most image classification model expects float value in range (0, 1) or (-1, 1), or a small interval like (-2.5, 2.5). This process is called "normalization". `copyPixelsToBuffer` still generates integers in (0, 255)

Any

[2021-07-29 12:06] xunkai55 commented on #628
Asking @multiverse-tf for help.

[2021-07-29 12:15] xunkai55 commented on #629
I'm just a bit curious on why it need **16** in the byte buffer allocation. That indicates you have 4 channels and each channel is a 32-bit value (likely a `float32`). That's not common. Mostly I see people have 4 channels with `RGBA_8888` configuration, and each channel is a `uint8` value.

Could you try

1. Use `ByteBuffer.allocate(256 * 256 * 4)`
2. Use `TensorBuffer.createFixedSize(intArrayOf(

[2021-07-29 12:33] xunkai55 commented on #269
Sorry I was busy on the other things. Will get back to you within 24 hours.

[2021-07-30 06:43] xunkai55 commented on #269
I can reproduce that the "Others" section continuously grows. However haven't got any clue to solve it.

[2021-07-30 06:52] xunkai55 commented on #269
With command `adb shell dumpsys meminfo $APP_PACKAGE`

I can see the major memory is occupied by "Ashmem".

[code]

[2021-07-30 06:54] xunkai55 commented on #269
Well I noticed another thing: when the "Others" reached around 1GB, the profiler just halts, but the process / app still works. I haven't notice any app crash yet (with Pixel 2 API 27 emulator on Linux).

[2021-07-30 07:00] xunkai55 commented on #269
@DavidRobb  As far as I know, `ashmem` may be rooted in frequent `mmap`s. It explains the growing "Others" when you put everything including creating interpreter in the loop, but probably not relevant with the out of memory thing you noticed in the main thread.

@fergushenderson could you please help correct me if I'm not understanding correctly.

[2021-07-30 07:07] yuyecreus commented on #629
This gives:

`Cannot convert between a TensorFlowLite buffer with 1048576 (256*256*16) bytes and a Java Buffer with 262144 (256*256*4) bytes.`

So yes, my model expects RGBA float32 data.

What I try:

[code]

And I get:

`The size of byte buffer and the shape do not match`

And when I debug the size of the buffer of the preprocessed image (normalized) I obtain:

`java.nio.DirectByteBuffer[pos=0 l

[2021-07-30 07:19] xunkai55 commented on #629
Well yes, currently our util `TensorImage` only supports RGB data (3 channels, 4 bytes each so its 12 in your findings). In other words, it always drops A channel directly.

I guess in this case, you probably want to write your own normalization code, and convert `Bitmap` to `ByteBuffer`. What just came into my mind:

1. Use `getColors` to extract pixel values from `resized` Bitmap
2. Iterate the

[2021-07-30 07:29] yuyecreus commented on #629
Makes sense. Thank you @xunkai55. I am going to close this because I have retrained my model on RGB data (and not RGBA). Still it is float32 so TensorImage utils + Preprocessor now works. Thank you very much! :)

[2021-07-30 07:29] #629 closed

[2021-07-30 08:34] multiverse-tf commented on #628
Hi @yuyecreus, could you provide the Android phone you've used for the profiling, and more details about the steps you've done to get the profiling results in Android Studio?

As you are aware of the [cmdline-based benchmark tool](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/lite/tools/benchmark), although the exact results you obtain might be different from what you'll obtain i

[2021-08-01 05:41] xmy19029 opened #635 "the command to build tflite-support"
Could you tell me the bazel command to build support library? I couldn't find it anywhere...
thanks...

[2021-08-01 06:15] #635 closed

[2021-08-02 08:50] yuyecreus commented on #628
I have used a Xiaomi Poco X3 NFC. I have followed the steps for profiling in Android Studio [https://www.tensorflow.org/lite/performance/measurement#android_studio_cpu_profiler](url). I can follow them but in the end I see no model related or per-op profilinig info as in the example under the recognizeImage() function. In fact, It does not appear any wrapper like the recognizeImage() function in t

[2021-08-02 14:28] gdemos01 opened #637 "TensorBuffer does not support data type: INT32"
TensorBuffer inputFeature0 = TensorBuffer.createFixedSize(new int[]{1}, DataType.FLOAT32);
    inputFeature0.loadBuffer(byteBuffer);
    TensorBuffer inputFeature1 = TensorBuffer.createFixedSize(new int[]{1}, DataType.FLOAT32);
    inputFeature1.loadBuffer(byteBuffer);
    TensorBuffer inputFeature2 = TensorBuffer.createFixedSize(new int[]{1}, DataType.INT32);
    inputFeature2.loadBuffer(byteBuff

[2021-08-02 16:52] srjoglekar246 commented on #269
@DavidRobb Can you try not using Nnapi? Looks like NNAPI delegate might be using ashmem in its implementation, and initializing the delegate in a loop could cause problems.

[2021-08-02 18:49] lu-wang-g commented on #637
`TensorBuffer` only supports `FLOAT32` and `UINT8` so far. So for `inputFeature2` you cannot use `TensorBuffer`, but need to create a `ByteBuffer` or an array on your own.

[2021-08-02 18:50] lu-wang-g commented on #626
Closing the issue. Feel free to reopen.

[2021-08-02 18:50] #626 closed

[2021-08-02 18:52] lu-wang-g commented on #628
@multiverse-tf can you please follow up with the questions above? Thanks!

[2021-08-02 18:52] lu-wang-g commented on #624
Closing the issue. Feel free to reopen.

[2021-08-02 18:52] #624 closed

[2021-08-02 18:53] lu-wang-g commented on #567
Closing the issue. Feel free to reopen.

[2021-08-02 18:53] #567 closed

[2021-08-02 18:53] lu-wang-g commented on #563
Closing the issue. Feel free to reopen.

[2021-08-02 18:53] #563 closed

[2021-08-02 18:53] lu-wang-g commented on #549
Closing the issue. Feel free to reopen.

[2021-08-02 18:53] #549 closed

[2021-08-02 18:54] #543 closed

[2021-08-02 18:55] lu-wang-g commented on #539
Closing the issue. Feel free to reopen.

[2021-08-02 18:55] #539 closed

[2021-08-02 18:56] lu-wang-g commented on #479
Closing the issue since it goes stale for a while. Feel free to reopen.

[2021-08-02 18:56] #479 closed

[2021-08-02 18:56] lu-wang-g commented on #453
Closing the issue. Feel free to reopen.

[2021-08-02 18:56] #453 closed

[2021-08-02 18:57] lu-wang-g commented on #427
Closing the issue. Feel free to reopen.

[2021-08-02 18:57] #427 closed

[2021-08-02 18:57] arturdryomov commented on #541
@lu-wang-g, hey, is there a reason for this issue to be closed? Seems like a valid use case (not of a top priority of course but still).

[2021-08-02 18:57] lu-wang-g commented on #397
@lintian06 can you please help with the question above? Thanks!

[2021-08-02 18:58] lu-wang-g commented on #379
@ziyeqinghan can you please comment on the question above? Thanks!

[2021-08-02 18:59] lu-wang-g commented on #352
Closing the issues since it goes stale. Feel free to reopen.

[2021-08-02 18:59] #352 closed

[2021-08-02 19:03] lu-wang-g commented on #541
Ha, I thought the issue was walked around by using FrameBuffer. Let me reopen it to track.

[2021-08-02 19:07] arturdryomov commented on #541
@lu-wang-g, unfortunately we weren’t able to use `FrameBuffer` for this since we didn’t want to pull this repo to get access to header files. We did something with `libyuv` which kinda works but it would be useful to have this built-in to avoid dealing with NDK / JNI.

BTW, as a side-note — have you tried using Vulkan for the YUV → RGB conversion? Would be interesting to know if there are benefits

[2021-08-02 19:14] Guillaume-slize commented on #549
Thanks @lu-wang-g, sorry I did not have time to look into it since last time.

[2021-08-02 19:22] lu-wang-g commented on #541
Got it. Supporting YUV conversion utils is in our roadmap. I'll give updates here once we have any progresses.

So far, we only touched image processing on CPU.  We have some undergoing projects related to GPU computation, but they are still in an early stage.

[2021-08-03 03:17] gdemos01 commented on #637
Yes but model.process() only accepts TensorBuffers as input. How can I use the model with byte buffers instead?

[2021-08-03 05:46] gdemos01 commented on #637
I solved the issue by using the TF Lite Interpreter instead. Still, I was wondering if there is a hack of doing it using the "tensorflow.lite.support" instead.

[2021-08-03 09:31] DavidRobb commented on #269
@srjoglekar246 Brilliant. Thank-you. That has fixed it for me. It's been running for 2hours 20 now whereas would crash after about 20 mins before.

As suggested by the tfLite documentation [https://www.tensorflow.org/lite/performance/nnapi](url) I've done:

[code]
Thanks all for the help

[2021-08-03 09:31] #269 closed

[2021-08-03 17:19] fergushenderson commented on #269
It looks like the real problem here was failing to call nnApiDelegate.close().
(Doc for that method says: "User is expected to call this method explicitly.")
Failing to close the NnApiDelegate will result in a memory leak.

That issue is still present in the camera-samples:

https://github.com/android/camera-samples/blob/42f76c4aab7c7c2d41110c3c127c20c08882e079/CameraXTfLite/app/src/main/java/com/

[2021-08-03 19:03] lu-wang-g commented on #637
Unfortunately, it won't be possible to use the support library for `inputFeature2`.  When using `Interpreter`, you can hack it a little bit by:

[code]

[2021-08-04 09:32] sohail-jogo opened #639 "Adding dependencies for MlImageAdapter in Android app"
I am not able to use MlImageAdapter to convert an ML Image  to TensorImage.
error: Cannot resolve symbol 'MlImageAdapter' .

The dependencies are in the BUILD file. I am not sure how I can add this library in gradle file (android Java).

[2021-08-04 22:50] lu-wang-g commented on #639
@xunkai55 can you please take a look?

[2021-08-05 04:38] xunkai55 commented on #639
@sohail-jogo Hi, may I know which version of TFLite support artifacts are you using? Currently the `MlImageAdapter` only appears in our nightly snapshot builds.

[2021-08-05 05:22] sohail-jogo commented on #639
Currently, I am using the following:

[code]

[2021-08-05 05:24] sohail-jogo commented on #639
Simply adding the following dependency doesn't work :

`implementation "org.tensorflow:tensorflow-lite-task-vision:0.0.0-nightly-SNAPSHOT"`

Is there additional step that I am missing here?

[2021-08-05 05:33] sohail-jogo commented on #639
Is there any plan to add this MLImageAdapter into the stable version any time soon? I think it might be a good idea if i wait and then use this, as my app is in production.

[2021-08-05 06:29] xunkai55 commented on #639
It's likely that the dependency is not refreshed. Could you please try clean the project, and use `./gradlew --refresh-dependencies` or equivalent commands to refresh the dependency?

And if that doesn't work, probably it's caching the `0.2.0` which shadows `0.0.0-nightly`. You can try `0.0.0-nightly-SNAPSHOT!!` to make it strict.

Yes, we plan to include this feature in the next minor version `0.

[2021-08-05 13:18] sohail-jogo commented on #639
Alright then, thats good know. I guess I will wait till then as I still can't use it.
I really appreciate a quick response from you.
Thanks a lot!

[2021-08-05 13:18] #639 closed

[2021-08-05 15:42] sohail-jogo commented on #639
It worked now btw! I had to comment out my other tensorflow dependencies.
https://drive.google.com/file/d/1gfBjfEw8EMkWzALad9dAoBjiHTxkKghm/view?usp=sharing

[2021-08-05 16:28] xunkai55 commented on #639
Good to know!

[2021-08-13 20:07] lu-wang-g commented on #637
Closing this issue for now. Let me know if you have other questions.

[2021-08-13 20:07] #637 closed

[2021-08-17 07:38] dprzewlockaa opened #656 "access to quantization parameters"
Hi, I'm trying to inspect the tflite model and extract quantization parameters for each layer (min/max fp, scale, offset). It can be easily done using Netron App (all needed values are listed in INPUT->input->quantization section of layer) but I wanted to access this data from the code.

As for now I'm loading the model using tflite interpreter, I call ``get_tensor_details()`` and iterate over the

[2021-08-17 15:56] Kimidoge opened #657 "Feeding accelerometer and gyroscope data as input for LSTM TFlite model on Android Studio."
I'm trying to create an application which takes in the smartphone sensor data (accelerometer and gyroscope) that predicts the driving style currently produced (eg. Right turn, Left turn ,etc). I've already converted the LSTM model into TFLite model and have imported it into Android Studio and the sample code below was created. Now the question is how do I  feed the accelerometer and gyroscope valu

[2021-08-17 18:50] lu-wang-g commented on #656
min/max values are not exposed in the Python API. You can read them using the Python Flatbuffers API. A TFLite model is essentially a FlatBuffers file.

[2021-08-18 15:25] Kimidoge commented on #657
OK. I had people suggesting me to use TensorBuffer to load the data (float array) into the model. After doing so, a new error pops up. Here is the modified code:

private void predictActivities() {

        //create new list to combine all arrayLists into one big list. Data will be our input variable
        List<Float> data = new ArrayList<>();
        if( ax.size() >= TIME_STAMP && ay.size() >=

[2021-08-18 17:11] lu-wang-g commented on #657
Hi,

I think the error is because the size `byteBuffer` loaded in
`inputFeature0.loadBuffer(byteBuffer);` does not match the shape of
inputFeature0, meaning byteBuffer.limit() != 4*50*6. You can double check
if the shape of data is [1, 50, 6].

Also, you can directly load data into `inputFeature0`. No need to create
another tensorBuffer and convert the data. That means the following code
[code]
ca

[2021-08-18 17:59] Kimidoge commented on #657
I did what you advised and thankfully it worked. If by any chance we meet , I'll buy u a coffee.

[2021-08-18 17:59] #657 closed

[2021-08-19 19:21] lu-wang-g commented on #657
Haha, you're welcome!

[2021-08-23 02:15] Kimidoge opened #665 "Failed to run the tflite model on Interpreter due to Runtime Error"
I've created an LSTM model and loaded it in the project as a TFlite file to evaluate its performance.I tried to use the Python interpreter as explained in:
https://colab.research.google.com/github/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb#scrollTo=IQtjKcMYC_nD

But I'm getting this error when trying to invoke the interpret

[2021-08-28 01:39] renjie-liu commented on #665
Hi Can you try set the input signature like here? https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/examples/experimental_new_converter/Keras_LSTM_fusion_Codelab.ipynb

And you don't need to resize the input shape.

thanks

[2021-08-28 18:32] Kimidoge commented on #665
Alrighty I have tried what you advised and thankfully its all fine now. Here's what I did:

[code]
Output:
[code]
The assertion error pops up showing the mismatch elements. Should this be considered alright as I assume the TFLite model will have a slightly different result?

Thanks a bunch again, I really needed to make sure the model was working as intended since I need to deploy in on Android St

[2021-08-29 02:08] renjie-liu commented on #665
yes, looks like the result is fine.

[2021-08-30 06:36] HyundongHwang opened #668 "Why does the Android version of MoveNet perform worse than the web version?"
- current situation
	- I am developing an Android app using tflite's MoveNet.
- problem
	- I implemented the function based on the MoveNet Android sample project, but the quality is lower in Android than the web version, but I can't find the cause.
	- Compared to the web version in Android, the score of each keypoint in the result is lower and the accuracy of the coordinates is very low.
	- Even i

[2021-08-30 09:59] #665 closed

[2021-08-30 15:52] mohaned-abid opened #669 "error: Last version of task library code is broken"
few weeks ago this tensorflow official tutorial used to work now it breaks in model.evalute_tflite(test_data) with the follwing error:
InvalidArgumentError: required broadcastable shapes [Op:Mul]

![image](https://user-images.githubusercontent.com/50331878/131367583-4bad7af1-227d-42cc-b6c5-4a95b5009755.png)

[2021-08-30 17:43] lu-wang-g commented on #669
@lintian06 is this in Model Maker? Feel free to reassign it back to me if it's not.

[2021-08-30 17:47] lu-wang-g commented on #668
@khanhlvg Do you mind to take a look at this?

[2021-08-30 19:05] Kimidoge opened #670 "Tensorflow Lite LSTM model not performing properly on Android Studio."
Hi, I'm making an android application which takes in the accelerometer (x, y and z) and gyroscope (x, y, and z) values and feeds it into the LSTM TFLite model (converted from .h5 file using TFLiteConverter) to classify vehicle movements such as right and left turns, and accelerating and braking and others. I've loaded the model into Android Studio and the app is working fine, but the output from t

[2021-08-31 00:31] mohaned-abid commented on #669
Okay sorry I  forgot  the links  to  the tutorial :
https://colab.research.google.com/github/googlecodelabs/odml-pathways/blob/main/object-detection/codelab2/python/Train_a_salad_detector_with_TFLite_Model_Maker.ipynb

https://codelabs.developers.google.com/tflite-object-detection-android#6

I managed  to  solve the  problem  by  using  an  older version  of nightly

[2021-08-31 00:35] khanhlvg commented on #668
You are using an old model. Please use the v4 model [here](https://tfhub.dev/google/lite-model/movenet/singlepose/thunder/tflite/float16/4). It's the one used in the Android sample app.

Did you measure and compare the quality of the TF.js and TFLite models on the same dataset, or it's just the perceived quality when you run and compare the two models? In fact both are using the same TF models so

[2021-08-31 02:06] HyundongHwang commented on #668
@khanhlvg Thanks for the quick and kind reply.
I have a few additional questions.

Q4.
The model used the float32 version.
https://tfhub.dev/google/lite-model/movenet/singlepose/thunder/3
But @khanhlvg tells me to use the float16 version model (https://tfhub.dev/google/lite-model/movenet/singlepose/thunder/3),
Is it not possible to use float16 for Android's data type?

[code]

Q5.
These are additi

[2021-08-31 02:16] khanhlvg commented on #668
The internal weights are stored in float16 but the inputs are int8, outputs are float32, so the fact that the model is float16 quantized is transparent to the model users. The pose_estimation app uses the float16 model. Please see the code [1](https://github.com/tensorflow/examples/blob/6c1947ecaaa3bd44636c01ed82f84309a841ff41/lite/examples/pose_estimation/android/app/download.gradle#L11) [2](http

[2021-08-31 02:45] HyundongHwang commented on #668
@khanhlvg Thanks for the quick and kind reply.

Q4.
I confirmed that it works well with the float16 version model (https://tfhub.dev/google/lite-model/movenet/singlepose/thunder/3).
I misunderstood, creating an InputImageTensor with DataType.FLOAT32 works just fine.

Q5.
Let's fix it by handling YUV_420_888 instead of the existing ImageFormat.JPEG.

It's been a big help.
Have a nice day

[2021-08-31 20:56] lu-wang-g commented on #670
Hi, have you tried running and verifying your model using the Python TFLite  Interpreter?

[2021-09-01 02:55] Kimidoge commented on #670
Yes I have tried running in using the Python TFLite Interpreter and the results of the TFLite model were the almost the same as the original model, see below:
[code]
Test one of the events (left turn):
[code]
Output:
[code]
As you can see the output is similar between the two but the weird thing is when the TFLite model is imported to Android Studio, it starts making the wrong classifications.
Any

[2021-09-01 16:32] lu-wang-g commented on #670
Can you try loading the same input data as your python test (i.e. `reshaped_left[i:i+1, :, :]`) to `inputFeature0`, such as
[code]
, and see if the result is correct?

[2021-09-01 16:44] Kimidoge commented on #670
Okay I can give it a try, but how exactly do I use the file (reshaped_left) which is originally an SQLite file and feed it into `inputFeature0`?

I'm familiar with how to do it on Python where we convert it into input shapes of `[samples, timestamps, features]` before feeding the data into the model , but how do we do the same on the Java side?

[2021-09-01 16:49] Kimidoge commented on #670
Sure I'll give it a try, but since the data (reshaped_left) is in an SQLite format, how do we exactly feed it into  `inputFeature0` on the Java side?
I understand for the Python side we need to generate a sequence of  `[samples, timesteps, features]` from the file before feeding it into the model, but how do we do that on the Java side of things?

[2021-09-02 18:43] lu-wang-g commented on #670
I see. I would probably try the following approaches:
(1) Create fake input data, such as {1, 0, 1, 0, ....}, and test if Python and Java have the same output.
(2) Save one row of your test data in Python (i.e. `reshaped_left[i:i+1, :, :]`) to a text file, and load it from Java.
(3) Copy one row of your data value from Python to Java. It has 1800 float values (since the input tensor size is [1, 30

[2021-09-03 01:38] #668 closed

[2021-09-14 10:37] arm-ssingh opened #687 "Is it possible to have quantised fused_tanh (with add op ) via TFlite converters"
[code]
Output:
![image](https://user-images.githubusercontent.com/64504846/133241612-aa302d4d-a0d9-4941-9e01-83664ac6b028.png)

Colab:https://colab.research.google.com/drive/1IqfO1FTKBahe9iahqD4ZgjGnkV1Utulk?usp=sharing

From the schema it seems it's supported:
`
 table AddOptions
{  fused_activation_function:ActivationFunctionType;  // Parameters supported by version 3.  pot_scale_int16:bool = tr

[2021-09-14 11:35] #687 closed

[2021-09-22 17:16] Nasirdev74 opened #697 "How can I make my custom tflite model from images in flutter?? any help please !!!"

[2021-09-22 17:29] lu-wang-g commented on #697
Creating custom tflite model from flutter is not supported yet. You can take a look at [Model Maker](https://www.tensorflow.org/lite/guide/model_maker), which is a desktop tool in Python, and see if it helps.

[2021-09-22 17:29] #697 closed

[2021-09-27 13:13] waqasakram117 opened #700 "ERROR: Could not find a version that satisfies the requirement tflite-runtime==2.1.0.post1"
I have a tflite model that I want to run locally
pip
 tflite-runtime==2.1.0.post1

Generates ERROR: Could not find a version that satisfies the requirement tflite-runtime==2.1.0.post1
My system is Mac Big Sur 11.6
Someone, please help me.

[2021-09-27 13:37] Gojo1729 opened #701 "How to allocate memory for output tensor for model which takes in dynamic input dimensions ?"
Hi,
I've a tflite model which takes which is working on all the image formats except for jpg images in an Android app, this works fine in python. Below is the code for preprocessing the image. I'm reading the image as bitmap. My model outputs the tensor of the same dimension as the input tensor.
[code]

I'm getting the following error for only jpg images -
`java.lang.IllegalArgumentException: Cann

[2021-09-27 14:05] Gojo1729 commented on #701
Actually now I found out the issue is not with the image type but with image dimensions, if the aspect ratio (width/height) is not 1 then I'm getting this error.

[2021-09-27 14:48] Gojo1729 commented on #701
The issue is with the dynamic input shape, how should I allocate size to output tensor where the model input is of dynamic size ?

[2021-09-27 22:43] lu-wang-g commented on #701
Please see the Javadoc [here](https://github.com/tensorflow/tensorflow/blob/60dacf192da652f9a6bed796c73abfa6d8fd2fff/tensorflow/lite/java/src/main/java/org/tensorflow/lite/Tensor.java#L131-L152) for instructions of invoking dynamic shape model.

[2021-09-27 22:43] #701 closed

[2021-09-27 23:08] lu-wang-g commented on #700
2.1.0 does not support BigSur, only for Catalina. You can install the latest version, 2.5.0, by:
[code]

See more instructions [here](https://www.tensorflow.org/lite/guide/python#install_tensorflow_lite_for_python).

[2021-09-27 23:08] #700 closed

[2021-09-28 07:51] Gojo1729 commented on #701
I'm using tflite 2.5.0 and the above method mentioned is not available

[2021-09-28 08:48] Gojo1729 commented on #701
2.6.0 , got it 👍

[2021-09-28 09:17] Gojo1729 commented on #701
Is there a way to handle this in tflite version before 2.5.0 ?

[2021-09-28 16:39] lu-wang-g commented on #701
If you know the output shape w.r.t each input, you can resize the output tensor (outputTensorBuffer) properly. Then
[code]
should be able to work.

[2021-09-29 16:22] ChainYo opened #703 "Add Metadata doesn't work with YoloV5 model"
Hi, I'm trying to add metadata to a converted YoloV5 model.

The conversion from `model.pt` to `model.tflite` is working well (thanks to yolov5 scripts), but I can't add metadata with tflite support because the object detection template is waiting for 4 tensors in his output layer when there is only one tensor in the YoloV5 output layer.
Anyone know how to add metadata to this kind of model ?

Thi

[2021-09-29 16:31] lu-wang-g commented on #703
@ChainYo, Yolo with one output tensor is not supported in Model Metadata and Task Library. From the other [github issue](https://github.com/ultralytics/yolov5/issues/4760#issuecomment-917441433), seems like there's a version of Yolo with 4 output tensors. If so, that will be supported.

[2021-09-29 16:31] #703 closed

[2021-09-29 17:56] ChainYo commented on #703
It seems to be only with tfjs models not tflite models.
But thanks for the quick answer

[2021-09-29 18:21] glenn-jocher commented on #703
@ChainYo @lu-wang-g yes YOLOv5 exported models generally concat outputs into a single output. TFLite models do not export with NMS, only TF.js and pipelined CoreML models contains NMS.

[2021-10-08 20:33] Parvel opened #705 "Select Ops support in org.tensorflow.lite.task.vision.detector"
Hi,

I'm trying to get a converted .tflite model which contains select OPs (CombinedNonMaxSuppression) working on an Android app which used tflite task library to consume the model with ObjectDetector.

TFLite version: 2.7RC1/2.6/2.5
TF Task Lib version:  tensorflow-lite-task-vision:0.2.0
OS: Android 8.0/9.0 API Level 27-29

I have followed the [link](https://www.tensorflow.org/lite/guide/ops_sele

[2021-10-14 17:13] lu-wang-g commented on #705
Custom ops is not supported currently in ObjectDetector. I've created an internal feature request to track it.  I'll see if I can have sometime to add the feature this week.

[2021-10-15 21:02] Parvel commented on #705
Thank you Lu :) that would be perfect.

[2021-10-29 08:16] LixiangHan opened #708 "Add custom operator to tflite micro"
Hi. I am trying to add a custom op (not included in tf and not fusion op of tf) to tflite mirco. How can I do that? Is there any tutorial or roadmap?
Thanks!

[2021-10-29 22:42] Parvel commented on #705
Thank you @lu-wang-g for clarification :) This is still a great opportunity for our FTC team to learn such in-depth knowledge of using TFLite for robotics.

[2021-11-01 17:22] lu-wang-g commented on #705
No problem! I'm closing this issue for now. Feel free to reopen if you have any questions or issues using the approach I mentioned previously.

[2021-11-01 17:22] #705 closed

[2021-11-05 09:20] AlexisPapaioannou opened #710 "Change input size from NHWC to NCHW"
Can I change the input size of interpreter from NHWC to NCHW?

[2021-11-05 17:31] karimnosseir commented on #710
No you can't. TFLite currently supports only NHWC.

[2021-11-10 14:36] fergushenderson commented on #269
Just to close the loop here, the original issue in the Camera sample app that lead to this issue,
where the sample app code wasn't calling close() on the NnApiDelegate,
was fixed (by ggfan) back on Sept 28.  For details, see
<https://github.com/android/camera-samples/issues/417>.

[2021-11-12 08:33] lasyka opened #711 "How to compile from source to whl, and then use pip to install it"
Hi there, this is not bug,  but i dont know where to ask question.
How to compile  tflite-support from source ,and package it to whl, then use pip to install it?

[2021-11-12 23:09] lu-wang-g commented on #711
It can be done with something like:
[code]
But  you need to first configure the python environment and cross toolchain properly.

[2021-11-15 01:06] lasyka commented on #711
Thank you.

[2021-11-15 01:06] #711 closed

[2021-11-18 10:18] AlexisPapaioannou opened #712 "Op Concatenation does not currently support num dimensions >4 Tensor has 5 dimensions."
I received the follow error:

"Op Concatenation does not currently support num dimensions >4 Tensor has 5 dimensions."

[2021-11-19 07:31] #710 closed

[2021-11-19 19:58] lu-wang-g commented on #712
Seems like the Concatenation Op expects a tensor which has less than 4 dimensions. Is it possible to update your model?

[2021-11-29 18:31] BernardoGO opened #716 "Cannot convert model with WeightNormalization from TFAddons: input resource[0] expected type resource != bool"
I'm trying to convert to TFLite a model with weight normalization. However, an error is thrown during conversion with both TOCO or MLIR.

Model:
[code]

Conversion snippet:
[code]

Error thrown:
[code]

[2021-11-29 18:48] lu-wang-g commented on #716
@karimnosseir could you please take a look at this issue? Thanks!

[2021-11-29 18:50] lu-wang-g commented on #708
Sorry for the late replay! For micro related issue, please open an issue in https://github.com/tensorflow/tflite-micro. Our team will help you from there.

[2021-11-29 18:50] #708 closed

[2021-11-29 21:59] maychine-fatima opened #717 "getting empty buffers when calling createtflitesimdmodule"
i dont understand the problem from where its coming but when i call createtflitesimdmodule from the tflite.simd file it return empty buffers but before it was working as expected and when i call this function tflite._getModelBufferMemoryOffset() return 0, what is the missing thing, is there any declaration to do before.

[2021-12-01 16:45] markorakita opened #719 "TF Lite NNAPI delegate doesn't work with tf.keras.layers.CenterCrop layer"
Not sure if this is the correct place to report this problem, or I should report it at tensorflow/tensorflow repository.

As said [here](https://www.tensorflow.org/tutorials/images/data_augmentation), using Keras preprocessing layers as part of our model is recommended because:

Unfortunately, if you add tf.keras.layers.CenterCrop preprocessing layer to your model, you will get this error when you

[2021-12-02 23:46] lu-wang-g commented on #719
@karimnosseir could you please take a look?

[2021-12-06 14:40] AlexisPapaioannou opened #722 "Didn't find op for builtin opcode 'MIRROR_PAD' version '2'"
I run a tflite model on a cortex m4 and I received the following error. Is there any way to import any built_in function?

"Didn't find op for builtin opcode 'MIRROR_PAD' version '2'. An older version of this builtin might be supported. Are you using an old TFLite binary with a newer model?

Failed to get registration from op code MIRROR_PAD

AllocateTensors() failed"

[2021-12-06 17:18] lu-wang-g commented on #722
Can you try using the latest TFLite runtime version v2.7?

[2021-12-07 03:02] zhnext opened #723 "CI Actions and pip release for Apple M1 arm64 arch"
Hope contributors to set up release workflows and build release for macOS arm64 arch.

According to pypi, tflite-support packages were built and uploaded by 'tflite-support-robot'.
This manual procedure could lead  release fragile and cause much effort.

See tfa:
https://github.com/tensorflow/addons/actions/workflows/release.yml?query=event%3Arelease

[2021-12-08 00:28] lu-wang-g commented on #723
Thanks for the feedback! I'll add it in our feature request list. Let's use this issue to track future work.

[2021-12-08 21:34] srjoglekar246 commented on #719
Hey Lu can you assign this to me?

[2021-12-09 18:05] srjoglekar246 commented on #719
Hey @markorakita , first off, are you quantizing the model? If not quantized, the NNAPI delegate might not provide much benefit.

Second, can you provide your model (even if untrained its fine) & how you are using the CenterCrop layer in your code? That will help us dig into why these dynamic shapes occur in your model.

[2021-12-09 19:11] markorakita commented on #719
Hi @srjoglekar246 , thank you for looking into this. I didn't try quantizing the model yet, I got this exception with unquantized model. Could you clarify **this** please? Everywhere in documentation quantization is mentioned only as an extra step to additionaly reduce model size and sometimes inference time, but I thought that every model (with supported ops) will benefit from being run on mobile

[2021-12-09 20:59] karimnosseir commented on #719
Thanks a lot for the feedback this is very useful (Please keep sending us feedback).
May i ask you to expand on which part of the documentation are you referring to - There are documentation for each delegate and documentation on writing your own delegate.

Please keep the feedback coming :) Thanks

[2021-12-10 05:25] zxl777 opened #726 "Request an example of audio classification for iOS"
**I hope there is a more concise iOS demo for  audio classification  (YAMNet model) ,**
thank you.

I have tried https://github.com/tensorflow/examples/tree/master/lite/examples/sound_classification/ios,

But this example does not use the model https://tfhub.dev/google/lite-model/yamnet/classification/tflite/1, and it does not work properly under iOS 15.

The code is not concise, not a good exampl

[2021-12-10 15:52] tempdeltavalue opened #727 "tf.lite.Interpreter returns same predictions for different input"
Hi, first of all sorry for poor information which I provide in this issue

But I got same predictions for different input using tf.lite.Interpreter, can somebody explain where is the problem and how to fix it?

Also I attached image (in blue - part of input, in red - mean of output (if you print whole output it also same for different inputs))

![Screenshot 2021-12-10 185510](https://user-images.g

[2021-12-10 18:04] lu-wang-g commented on #727
Can you try printing the values in `tflite_mode_predictions` instead of the mean? It is possible that the output values add up to a constant value. For example, the sum of output scores of an image classification model always add up to 1.

[2021-12-10 18:29] lu-wang-g commented on #726
Hi Khanh, is it possible to support yamnet in the current iOS demo app?

[2021-12-10 20:07] tempdeltavalue commented on #727
@lu-wang-g Yeap, here's screenshot of predictions

<img width="1316" alt="Screenshot 2021-12-10 at 22 02 23" src="https://user-images.githubusercontent.com/36921178/145634791-58b7041c-89d7-423f-bbfa-66f1756c6528.png">

by the way tflite code from my question in general is copy-paste from here...
https://colab.research.google.com/github/frogermcs/TFLite-Tester/blob/master/notebooks/Testing_TFLite_m

[2021-12-10 21:57] lu-wang-g commented on #727
Do you mind to share your model with me so that I can take a look?

[2021-12-10 22:53] tempdeltavalue commented on #727
of course (but there's nothing super interesting just model from keras.applications)

you can edit this colab (also probably you need to setup your TFLITE_MODEL)

https://colab.research.google.com/drive/1GUr6RhMMyAnxyxZEOIK42QnEQYIMo6Cf?usp=sharing

[2021-12-10 23:40] lu-wang-g commented on #727
The inference script is OK. I double checked it with other models, and it works fine.

But I think the problem is the converted model. If you open it up in Netron, you'll find a standalone op, "x0", with your input and output tensor. To convert a Keras model, [here](https://www.tensorflow.org/lite/convert#convert_a_keras_model_) is the recommended approach.

[2021-12-10 23:57] tempdeltavalue commented on #727
@lu-wang-g Thank you very much for this... (next time try to open models by Netron myself :) )

[2021-12-10 23:57] #727 closed

[2021-12-11 07:24] khanhlvg commented on #726
Thanks for the feature request. We'll look into it.

[2021-12-11 16:54] tirumala007 opened #728 "Adding Metadat to the model."
i have downloaded the trained model from https://teachablemachine.withgoogle.com/  which is a floating point model. i can't download the quantized model. when i add the downloaded file(2 MB file) to the project,  the apk size has increased(nearly 30 MB). but i gave me an error about normalization. it requires meta data. i don't know how to add metadata to tflite. help me with adding meta data. is

[2021-12-13 21:07] lu-wang-g commented on #728
See this [tutorial](https://www.tensorflow.org/lite/convert/metadata_writer_tutorial#image_classifiers) about adding metadata for Image Classification models. You'll need to provide normalization params and labels file that are essential in pre and post processing.

Can you please show my your inference code and dependencies?

[2021-12-17 04:38] zxl777 commented on #726
hi, looking forward to testing the iOS demo.
For the re-developed iOS demo, you can refer to the example of this Android version.

https://developers.google.com/codelabs/tflite-audio-classification-basic-android?continue=https%3A%2F%2Fdevelopers.google.com%2Flearn%2Fpathways%2Fget-started-audio-classification%23codelab-%2Fcodelabs%2Ftflite-audio-classification-basic-android#0

[2021-12-17 21:20] markorakita commented on #719
@karimnosseir @srjoglekar246 This part will be related to both of your responses:

I completely understand how complex the issue is, and that it can't be made into a cookie cutter decision. I also absolutely love it that you have left so much room for advanced users to customize and optimize how their models will be run on devices, I am all for it!

It is just that right now I am coming from a dif

[2021-12-20 21:47] srjoglekar246 commented on #719
Can you point me to the docs saying that `input_shape` does that? I am not very familiar with Keras APIs, so I might be missing something :-)

[2021-12-23 02:42] luca992 commented on #333
How I built the metadata_extractor for mac
[code]
rpi would probably be:

[code]
or (depending on model)

[code]

[2022-01-03 05:09] jinho2020 opened #731 "Building iOS framework for tokenizers with Bazel."
I think we need a BUILD file (or documentation) for building iOS frameworks (ObjC / Swift) for SentencePiece tokenizer.

I'm not familiar with Bazel, but I tried:
(I got "No such module TFLSentencepieceTokenizer" error on Xcode 13.2.1.)

[code]

On Xcode 13.2.1:
[code]

[2022-01-03 08:22] #731 closed

[2022-01-06 08:16] fatihkiralioglu opened #732 "Is There Any Prebuilt Library Repository?"
Hi,
I want to try Tensorflow lite firtly in Windows and then Android. I need prebuilt libraries.
Is there any place to download these libraries?
Thanks

[2022-01-06 17:21] lu-wang-g commented on #732
I don't think we distribute prebuilt libraries. But you can build one from the source code. See https://github.com/tensorflow/tensorflow/issues/38852#issuecomment-618852882.

[2022-01-06 17:21] #732 closed

[2022-01-10 08:37] fatihkiralioglu commented on #732
thanks, I have built it via Cmake

[2022-01-17 10:25] pedropgusmao opened #733 "Is it possible to train a model using the C++"
Hi, is it possible to use C++ TFLite to train a model? I could only find code for Python https://www.tensorflow.org/lite/examples/on_device_training/overview
Thanks in advance

[2022-01-17 23:57] lu-wang-g commented on #733
@haozha111 Is it recommended to use the C++ API?

[2022-01-18 00:25] haozha111 commented on #733
Yes, technically you can use C++ API to train a model with TF Lite. I think the main API to achieve this purpose is through the multi-signature API (https://www.tensorflow.org/lite/guide/signatures), and you can run `train` signatures by using the signature runner class. Please feel free to give it a try, thanks!

[2022-01-22 18:32] ayush-raj8 opened #736 "TfLite Model is giving different output on Android app and in python for same inputs. Outputs using python are realistic but for java it remains same. Why the outputs are behaving this way in java file?"
So I'm building a very simple model using tensorflow that gives x+1 as output (prediction). I'll deploy this model on android application so I convert it to tflite format.
## For building model :-
`
import tensorflow as tf

x = [1,2,3,4,5,6,7,8,9,10]
y = [2,3,4,5,6,7,8,9,10,11]

model = tf.keras.models.Sequential([tf.keras.layers.Dense(units=1, input_shape=[1])])
model.compile(optimizer='sgd', los

[2022-01-23 19:43] ayush-raj8 commented on #736
Solved !
Solved by myself! Add the new line so that the bytes are returned in LITTLE_ENDIAN. By default, the order of a ByteBuffer object is BIG_ENDIAN. Finally, the order method in is invoked to modify the byte order. The ByteOrder.nativeOrder() method returns the LITTLE_ENDIAN byte order. The order method creates a new buffer modifiedBuffer, and sets the byte order to LITTLE_ENDIAN.

[code]

[2022-01-23 19:43] #736 closed

[2022-02-04 18:58] AHTEHRANI opened #742 "Instagram"

[2022-02-04 22:10] lu-wang-g commented on #742
Closing this empty issue.

[2022-02-04 22:10] #742 closed

[2022-02-05 22:35] frippe75 opened #743 "ER: Allow memory mapped files outside the assets folder"
Not sure what hinders from allowing downloading models in runtime and serving them?

https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/java/src/java/org/tensorflow/lite/support/common/FileUtil.java

[code]

[2022-02-07 18:27] lu-wang-g commented on #743
Can you please provide more detailed description of your problem, such as code snippet, logs, error messages, etc.

[2022-02-11 10:13] nelsontseng0704 opened #745 "Running ObjectDetectorWriter.create_for_inference received KeyError: 701"
Model I use: ssd_mobilenet_v2_fpnlite_320x320_coco17_tpu-8

Running

writer = ObjectDetectorWriter.create_for_inference( writer_utils.load_file(_MODEL_PATH), [127.5], [127.5], [_LABEL_FILE])writer_utils.save_file(writer.populate(), _SAVE_TO_PATH),
received following error

[code]

[2022-02-11 18:07] lu-wang-g commented on #745
Does your model has the [expected four tensor outputs](https://www.tensorflow.org/lite/examples/object_detection/overview#output_signature)? Do you have the error message other than the stack track log?

[2022-02-17 08:59] Wirg opened #746 "Documentation for LabelFileMd file format"
Hi,

I am looking for information about `LabelFileMd` file and I was not able to find it clearly.
Does the label file have to be a .txt with one "label" by line?
If I have a jsonl-like structure with multiple and possibly nested entries, can I make it work or does it have to be broken into one file by key?

Example :
[code]

[2022-02-17 19:48] lu-wang-g commented on #746
If you want to use Task Library or Support Library to automatically load and parse the label file, the file needs to be a txt file, such as this [one](https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/metadata/python/tests/testdata/image_classifier/labels.txt). If you don't expect to leverage Task Library and Support library, you can use any formats, but you'll need

[2022-02-20 03:51] #746 closed

[2022-02-20 03:52] #733 closed

[2022-02-20 03:52] #728 closed

[2022-02-20 03:59] #712 closed

[2022-02-20 03:59] #722 closed

[2022-02-20 04:00] #670 closed

[2022-02-21 02:33] zxl777 commented on #726
@lu-wang-g Why you closed this issue?

[2022-02-21 07:47] Gojo1729 opened #748 "IllegalArgumentException on running the tflite model on Android"
Hi,
I have a person segmentation model which I have converted to Tflite file, while running this model on **some** Android phones I am getting these errors  -
[code]
[code]
[code]

I can share the tflite model over the mail if needed.

[2022-02-22 23:08] lu-wang-g commented on #748
For the first two errors, it seems that you didn't feed in input data for tensor 995 and tensor 869. You can open your model in https://lutzroeder.github.io/netron/ and check what the inputs/outputs are. Make sure you feed data for every input/output tensor.

For the third error, it seems  that the model was not converted correctly. The error message should come from [here](https://github.com/tens

[2022-02-22 23:13] lu-wang-g commented on #726
Sorry I misunderstood the context, I thought you already have an iOS demo based on the Android one. I'm re-opening the issue for tracking.

[2022-02-23 02:43] zxl777 commented on #726
@lu-wang-g  Thank you for reopening this issue,
I need to have an iOS demo to start a new project, And I believe this demo is also useful in the field of sound classification.
I'm following the progress of this iOS demo every day and would love to see further news.

[2022-03-01 12:24] SHagerGEL commented on #732
Can you share youre CMakeLists.txt?

[2022-03-02 15:20] caseymorris61 opened #754 "Unable to build audio-classifier for --config=elinux_armhf"
When trying to build the audio classifier for armhf, I received these errors. I am on branch `master`, at commit `4b6b91e0dbdd40d16681b19b8936b7dfe811174f`, and using Ubuntu 16.04 to build.

[code]

To fix, I applied a patch similar to a recent fix in tensorflow main repo:
https://github.com/tensorflow/tensorflow/commit/4ec84aa99372ca7899fb12715edd2bfe3c947c88

Here is my patch file that solved th

[2022-03-02 22:17] lu-wang-g commented on #754
Thanks for flagging this issue! I'll migrate this line of change to our code base. Appreciate it!

[2022-03-02 23:27] lu-wang-g commented on #754
The update has been merged inside, and will be mirrored our in a few hours.

[2022-03-02 23:27] #754 closed

[2022-03-06 04:59] alanskye opened #755 "unable to install latest tflite-support from pip"
Hello,
I've tried to install the latest tflite-support using pip. But when i try it,
it installs tflite-support 0.1.0a1.

`pip install tflite-support                                                                                                 1 ✘
Defaulting to user installation because normal site-packages is not writeable
Collecting tflite-support
  Using cached tflite_support-0.1.0a1-cp310-c

[2022-03-07 18:29] lu-wang-g commented on #755
That's because your system setup is not supported in TFLite Support 0.3. TFLite Support 0.1 was release differently that it builds the artifact on your machine, instead of copying prebuilds.

You can build your own Pypi packaging using this script: https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/tools/pip_package/build_pip_package.sh.

[code]

And then you can `pip

[2022-03-07 22:31] khanhlvg opened #756 "Remove _eq_ from all Python Task APIs"
It turned out that `_eq_` function in all Python Task APIs are no longer needed. Please remove them and avoid implementing them in future tasks.

[2022-03-08 01:59] khanhlvg commented on #756
@kinaryml Could you help taking care of this issue while waiting for reviews?

[2022-03-08 05:52] kinaryml commented on #756
Yeah, sure thing. Should I send a PR to revert the changes?

[2022-03-08 05:53] kinaryml commented on #756
@khanhlvg Yeah, sure thing. Should I send a PR to revert the changes?

[2022-03-08 05:55] khanhlvg commented on #756
@kinaryml  Maybe a few days later. Let's focus on the audio API first. I'm reviewing the AudioClassifier PR and will return it in a hour or so. I'd like you to focus on the Audio APIs for now.

[2022-03-08 05:56] kinaryml commented on #756
@khanhlvg Alright, will do.

[2022-03-08 12:18] v7lin opened #757 "please publish TensorFlowLiteTaskText 0.3.1"

[2022-03-08 15:01] alanskye commented on #755
Thanks a lot!

[2022-03-08 16:37] lu-wang-g commented on #757
We didn't have bandwidth to publish the Cocoapod targets for Task Library 0.3. But it's in our radar for the next release in April. Please stay tuned.

[2022-03-16 03:53] khanhlvg opened #760 "Add `create_from_file` method to remaining Python Task APIs"
We want to add a convenient way to create a task object with a model file and the default option.

Here is the commit that add it to the ImageClassifier.
https://github.com/tensorflow/tflite-support/commit/92e086446e9fe6ed7bc4b3e5060ade9a6aa3085f

@kinaryml Could you help us create the API for the other tasks that has been implemented. Please also move the TODO out of pydoc as in the commit. Thank

[2022-03-16 05:43] kinaryml commented on #760
@khanhlvg Alrighty, will do.

[2022-03-16 06:06] kinaryml commented on #760
@khanhlvg I've raised a PR [here](https://github.com/tensorflow/tflite-support/pull/761).

[2022-03-17 21:29] #760 closed

[2022-03-17 21:38] khanhlvg opened #763 "Polish code for iOS Task Library Vision"
* Avoid using calling the object setters directly. Use property instead. For example, `obj.prop = 123`
* Change the initialization interface of model output classes to:
    * Have readonly properties. All properties must be set at initialization.
    * For immutable property such as NSString, or object with all immutable objects, it's fine to store the pointer instead of making a copy. This likely

[2022-03-17 21:38] khanhlvg commented on #763
@priankakariatyml Could you work on this after finishing the Pod work?

[2022-03-18 04:00] khanhlvg opened #764 "Write unit tests for Python AudioRecord"
@kinaryml
I expect that you'll have to do these things:

* Mock sounddevice.InputStream because the CI servers that run the tests don't have a soundcard so sounddevice will fail.
  * Use the [unittest.mock](https://docs.python.org/3/library/unittest.mock.html) to mock the class. It's a requirement for Python mock at Google.
  * I think you need to use `@patch('sounddevice.InputStream')` to patch t

[2022-03-18 06:47] kinaryml commented on #764
@khanhlvg I've added a test to a branch in the other repo. Could you check it out and let me know your thoughts? Here's the link to the commit: https://github.com/khanhlvg/tflite-support/commit/58601b1d16675184912560b800b3e3b1eb074d7f

[2022-03-18 13:48] priankakariatyml commented on #763
I will on this

[2022-03-18 13:49] priankakariatyml commented on #763
I will work on this.

[2022-03-21 08:56] kinaryml commented on #764
@khanhlvg The CI server should be able to run the following test:
https://github.com/khanhlvg/tflite-support/blob/tensor-audio-impl-and-tests/tensorflow_lite_support/python/task/audio/core/audio_record_test.py

[2022-03-22 07:32] khanhlvg commented on #764
Thanks Kinar. For code readability, I expected mocking InputStream entirely rather than patch some features of the original class, which makes a lot of assumption about the inner working of InputStream.

I updated the test code to something that looks like this, and I've sent the code for internal review.
https://github.com/khanhlvg/tflite_raspberry_pi/blob/main/audio_classification/audio_record_t

[2022-03-22 14:12] kinaryml commented on #764
@khanhlvg Agreed. For code readability, it makes sense to mock the whole class. I've aligned the tests with those new changes for now.

[2022-03-28 08:55] FriedrichM opened #770 "Semantic Segementation Example "Label number 21 mismatch" exception"
When Following the example form this page :
[www.tensorflow.org/lite/examples/segmentation/overview](https://www.tensorflow.org/lite/examples/segmentation/overview)
I downloaded the linked .tflite model LiteModelDeeplabv31Metadata2 and imported it into my Android Studio project
using the right-click -> new -> other -> Tensor Flow Lite Model option.
The IDE Recognized the model and gave me the foll

[2022-03-31 14:08] priankakariatyml opened #773 "Add C++ Tests for Image Classifier Category Mask"
The current [C++ category mask test](https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/cc/test/task/vision/image_segmenter_test.cc#L462)  mocks an empty frame buffer to test the  [Postprocess](https://github.com/tensorflow/tflite-support/blob/master/tensorflow_lite_support/cc/task/vision/image_segmenter.h#L120) function.
There is no test for calling the Segment funct

[2022-03-31 14:08] priankakariatyml commented on #773
@lu-wang-g @mbrenon @khanhlvg

[2022-04-05 07:42] khanhlvg commented on #773
My understanding is that we have test for the category mask but not the confidence mask. Your question is how to add test for confidence mask - is that correct?

Here is how we write the confidence mask test internally in the Java layer. Can you do the same for the iOS tests?
[code]

[2022-04-05 11:03] priankakariatyml commented on #773
Sorry, my bad I meant the confidence masks. I linked to the wrong function.
Thanks. I will use this logic for C and iOS tests.

[2022-04-07 02:59] khanhlvg opened #776 "Correct the return type in pybinds"
Some pybinds returns a proto of the `vision` namespace while the Python layer expects a proto of the `processor` namespace. [(example)](https://github.com/tensorflow/tflite-support/blob/980ebd734eb015fb84d91c1bde8f67179fd458e5/tensorflow_lite_support/python/task/vision/pybinds/_pywrap_image_embedder.cc#L91).

The test still pass because Python doesn't do strict type check. As long as the protos ar

[2022-04-07 03:11] anhhoang26 opened #777 "Remove Associated file"
Rencently, I trained a model image classify on Vertex AI.
Model packed assoiciated file in this.
I want remove it.

[2022-04-07 04:12] lu-wang-g commented on #777
You can simply unpack the tflite model using zip, such as `unzip xxx.tflite`. It will give you the tflite model without associated files and the standalone associated files.

[2022-04-07 04:26] kinaryml commented on #776
@khanhlvg The text and audio embedder seem to expect protos in the `processor` namespace by default so I've raised a [PR](https://github.com/tensorflow/tflite-support/pull/778) for the remaining tasks that require explicit checks and conversions.

[2022-04-07 06:43] anhhoang26 commented on #777
@lu-wang-g  it doesn't work. I unpacked file model(xxx.tflite), i received 2 file : xxx.tflite and labels.txt. But when i unpack it again, i still get both xxx.tflite and labels.txt
![Screenshot from 2022-04-07 13-41-25](https://user-images.githubusercontent.com/57597581/162136373-c2b7f2b1-26bf-406b-a1ea-78e9f1ee6cf2.png)

[2022-04-07 07:24] kinaryml commented on #777
I think these two links might be helpful.
Vertex AI: https://cloud.google.com/vertex-ai/docs/export/export-edge-model#output-files
AutoML Vision (does produce a `dict.txt` label file): https://cloud.google.com/vision/automl/docs/export-edge#tf-lite

The Vertex AI model shouldn’t produce a label file AFAIK.

[2022-04-07 22:00] lu-wang-g commented on #777
@anhhoang26 how about `zip -d model.tflite labels.txt`?

[2022-04-08 00:18] khanhlvg opened #779 "Update pybinds so that Python APIs throw error instead of returning statusOr"
Yuqi has pushed a commit to change how Python layer returns errors: throwing an Error when there's an error occur, rather than returning the error status.
https://github.com/tensorflow/tflite-support/commit/d8ddc0d16b32bb636fd9ac3075e4b380afff86ba

@kinaryml Could you do these things?
* Apply this change to your WIP image_segmenter implementation.
* Send a separated PR to update the remaining task

[2022-04-08 03:28] anhhoang26 commented on #777
@lu-wang-g Thanks verymuch. It works !

[2022-04-08 03:28] #777 closed

[2022-04-08 03:40] kinaryml commented on #779
@khanhlvg Alright, will do.

[2022-04-08 04:47] kinaryml commented on #779
@khanhlvg I've updated the ImageSegmenter WIP implementation and also raised a [PR](https://github.com/tensorflow/tflite-support/pull/780) to incorporate the new error handling changes.

[2022-04-08 23:00] khanhlvg commented on #764
Implemented in https://github.com/tensorflow/tflite-support/commit/5490f096933fe0348d45c8ca8c955e1f158f8971

[2022-04-08 23:00] #764 closed

[2022-04-10 18:25] tarunn2799 commented on #770
Did you find a solution to this yet?

[2022-04-11 02:41] khanhlvg commented on #779
Fixed in https://github.com/tensorflow/tflite-support/commit/1ab917f6716dd680ac51878446a7f4b033701759

[2022-04-11 02:41] #779 closed

[2022-04-11 02:43] khanhlvg commented on #776
Fixed in https://github.com/tensorflow/tflite-support/commit/a1fa6a2bc04dcdbfcd10acaba8dfdf8e58880684

[2022-04-11 02:43] #776 closed

[2022-04-11 07:00] saxenarrohit opened #782 "Manually setting ranges for every activation and weight"
Hello Team, is it posibble to set the scale and offset of all the activations and weights manually, rather than going with tflite quantization schemes? Actually I want to run tflite inference through ranges using AIMET quantization scheme. They output a json formatted file containing ranges for every weights and activations, I want to use those ranges to create tfite quantized model, for testing p

[2022-04-11 07:08] saxenarrohit commented on #656
Hello lu-wang-g, is it possible to manually modify the ranges of every activation and weights inside tflite quantized model?? I have raised an issue too regarding this. You are kindly requested to confirm if it is possible to execute this using any public api

[2022-04-12 02:14] lu-wang-g commented on #656
@saxenarrohit technically, you can change whatever value you want in the TFLite mode. A TFLite model is a Flatbuffer file, so it can be modified using the Flatbuffer API. However, it's strongly discouraged to do so. Editing TFLite model without using the official tools is very error prone. If you want to update activation and weights, considering doing so on the TF side, i.e. before converting the

[2022-04-13 06:32] khanhlvg opened #786 "Migrate the tests in TFLite Task Library to use TF test"
@kinaryml Could you update the tests to use tf.test as in the [image_embedder](https://github.com/tensorflow/tflite-support/blob/9f64b9ed362865a9865643cbbb8fb9b63fc3f0aa/tensorflow_lite_support/python/test/task/vision/image_embedder_test.py#L39) test?

[2022-04-13 06:34] kinaryml commented on #786
@khanhlvg Sure thing. Let me create a branch for it and I'll let you know once I've raised the PR.

[2022-04-13 06:40] khanhlvg commented on #786
Could you add it to this [PR](https://github.com/tensorflow/tflite-support/pull/784)? It should be a minor change so I'd like to group these minor changes into one PR to reduce the overhead required by the review process.

[2022-04-13 06:41] kinaryml commented on #786
@khanhlvg Alright, I'll update the PR title and push the changes.

[2022-04-13 07:13] kinaryml commented on #786
@khanhlvg Is it possible to import the `mock` module using `tf.test`? At the moment, I'm not able to access mock using `tf.test.mock`. Could you share your thoughts on this?

[2022-04-13 07:27] kinaryml commented on #786
I just investigated a little more and I believe I can use this:

[code]

@khanhlvg Let me know if that sounds good for you?

[2022-04-13 08:03] khanhlvg commented on #786
Yes if the test runs then it's good.

[2022-04-14 06:41] khanhlvg opened #789 "Migrate away from assertDeepAlmostEqual"
The reason to use tf.test, is to be able to use [https://www.tensorflow.org/api_docs/python/tf/test/TestCase#assertProtoEquals](https://www.google.com/url?sa=D&q=https%3A%2F%2Fwww.tensorflow.org%2Fapi_docs%2Fpython%2Ftf%2Ftest%2FTestCase%23assertProtoEquals) instead of [our own implementation](https://github.com/tensorflow/tflite-support/blob/f451c8cd86d201db9ed76c9e4b0ac1524fecf547/tensorflow_lit

[2022-04-14 07:06] khanhlvg opened #790 "Add more tasks to the TFLite Support pip package"
This [commit](https://github.com/tensorflow/tflite-support/commit/b1f13f0cb035140de9eebecfb46e7b39e3b1c9c8) added some tasks but we have more tasks implemented.

@kinaryml Could you take a look at the commit and add the missing tasks (e.g audio tasks, text embedder etc.), and test if they work. You can test following the instructions in the commit message.

[2022-04-14 07:52] kinaryml commented on #790
@khanhlvg I'll work on this and share a Colab with you to test the new tasks.

[2022-04-14 10:20] kinaryml commented on #790
@khanhlvg Here's a [Colab](https://colab.research.google.com/drive/1wzgH8oICEajZNli_8IP7t7wWm1Crl7GJ?usp=sharing
) which tests all the tasks after building and installing the pip wheel. It seems to be running into a segmentation fault error while trying to create the task object using the `create_from_options` method for a task. Could you share your thoughts on this? Let me know if there's a speci

[2022-04-14 10:23] kinaryml commented on #790
A link to the branch with the changes can be found [here](https://github.com/khanhlvg/tflite-support/tree/add-more-tasks-to-pip-package).

[2022-04-14 10:29] STAROFWIND opened #791 "Same RAM usage TFlite model on Xavier and CPU Laptop"
Hi all,
I am working on optimization. I have a .h5 keras model named "model.h5" --> I pruned this model to become a smaller and slighter model named "pruned_model.h5". I converted 2 models to tflite (model.tflite and pruned_model.tflite). When I inference 2 models on CPU Laptop and Xavier.
--> problem: The RAM usage is the same among models.
I think a slighter model if convert to tflite will use l

[2022-04-14 14:54] kinaryml commented on #789
@khanhlvg A testing module in TFDS also seems use a similar variant of `assertDeepAlmostEqual` [here](https://github.com/tensorflow/datasets/blob/47baec10e957bffbd52c960cfce1ad31c60e04dd/tensorflow_datasets/testing/feature_test_case.py#L97) FYI.

I believe it should be fine to use the function since another TF library uses it too.

[2022-04-14 19:40] kinaryml commented on #789
On a side note, I've also opened a branch that uses `assertProtoEquals` to compare results [here](https://github.com/tensorflow/tflite-support/compare/master...khanhlvg:migrate-from-deep-almost-equal-python-test?expand=1).

[2022-04-15 00:47] khanhlvg commented on #790
@kinaryml I got this feedback from Lu. Could you try again?

That's most likely he doesn't install protobuf. If you download the wheel from Pypi, it will also install  the required packages for you, such as [this](https://github.com/tensorflow/tflite-support/blob/7188e5bf3b8679d3eb1ffeaaea852a519260cfb3/tensorflow_lite_support/tools/pip_package/setup.py#L57)
When building it locally, we need to ma

[2022-04-15 02:35] kinaryml commented on #790
@khanhlvg @lu-wang-g Thanks for pointing out it the issue had to do with the dependencies. I'm able to create and run the tasks now. Although, I had to change the requirements to use `protobuf==3.18.0` instead of `protobuf>=3.18.0`. Runs fine now though.

Here's the updated Colab:
https://colab.research.google.com/drive/1nL8sDEAQuEHcV5z9pJ9DnS_QwtZzM5J9?usp=sharing

[2022-04-15 04:54] khanhlvg commented on #790
Thanks Kinar. It looks great!

Can you send a pull request to add the tasks to the Pip package?

[2022-04-15 05:28] kinaryml commented on #790
@khanhlvg I've raised a[PR](https://github.com/tensorflow/tflite-support/pull/792) for the remaining tasks.

[2022-04-15 14:26] khanhlvg commented on #789
@kinaryml I've merged #784 with some minor changes. I migrated back to use the mock in the unittest module because the one in TF is an internal API that we aren't supposed to access. Could you merge the latest changes into your branch, resolve conflict and raise a PR? Thanks!

[2022-04-15 19:12] kinaryml commented on #789
@khanhlvg I've created yet another branch [here](https://github.com/tensorflow/tflite-support/compare/master...khanhlvg:remove-deep-almost-equal-python?expand=1) instead and we can review the changes. This should have all the conflicts resolved.

[2022-04-15 23:55] khanhlvg commented on #789
Thanks Kinar! The changes look good to me. Could you send a PR to the main tflite-support repo so that I can import it and test on internal build system?

[2022-04-16 00:03] khanhlvg commented on #786
[code]

It turned out that this is an TF internal API and we can't use it in the internal build system. I reverted back the change.

Issue was fixed with https://github.com/tensorflow/tflite-support/pull/784 and https://github.com/tensorflow/tflite-support/commit/d211e4030fcfc85c44256cc2deea7f1d4ecc85dc

[2022-04-16 00:03] #786 closed

[2022-04-16 01:15] kinaryml commented on #789
@khanhlvg I've raised a PR for it in the main tflite-support repo now. PTAL [here](https://github.com/tensorflow/tflite-support/pull/793).

[2022-04-18 00:14] physxP opened #794 "ios build issues"
I am having build issues on MacOs 12.3. The issue is directly related to bazel and changes in MacOS.
build script:
[code]
Error

[code]
The problem is that Apple removed python 2 and there is not /usr/bin/python binary and no way to add it there. This causes this
particular error in bazel versions < 5.0.0. How do I fix this issue? Are there any prebuilt binaries for the vision framework?

[2022-04-18 21:49] lu-wang-g commented on #794
Try if it works by configuring the Python bin path explicitly, such
[code]

[2022-04-19 07:01] FriedrichM commented on #770
no, i tried to make the changes i suggested to the library but i could not get the bazel build to work, to try them out

[2022-04-19 14:18] khanhlvg opened #795 "Replace custom JSON expected result with the protobuf JSON format"
Investigate if we write expected_detections using the proto json format directly, something like [this](https://github.com/tensorflow/tflite-support/blob/c23147a0a78513f8f02319faca41cd8fe9a911ac/tensorflow_lite_support/cc/test/task/vision/object_detector_test.cc#L80), which should be equivalent to what generated from [here (expected_result_dict)](https://github.com/tensorflow/tflite-support/blob/c

[2022-04-19 14:28] #790 closed

[2022-04-19 15:06] kinaryml commented on #795
@khanhlvg I believe it adds the protobuf module dependency and we can use `text_format.Merge` to do it as showcased here

[code]

I can apply these changes to the existing [PR](https://github.com/tensorflow/tflite-support/pull/793) if you'd like. Let me know if I should wait for the existing PR to be merged and send another PR.

[2022-04-19 15:08] kinaryml commented on #795
It should cut down on using the `_build_test_data` private module in a lot of tests FYI if we apply the change.

[2022-04-19 16:35] physxP commented on #794
Sorry, same issue

[2022-04-19 21:42] lu-wang-g commented on #795
Thanks Kinar!

Also, we can hopefully simply the following test code:
[code]
with
[code]

Could you please make those changes as well?

[2022-04-19 22:04] kinaryml commented on #795
The tests will run into the following error if we happen to remove that test code:
[code]

I think that is still required as the returned object (`image_result`) is a DetectionResult C++ proto object in the processor namespace.

[2022-04-19 22:39] kinaryml commented on #795
@khanhlvg @lu-wang-g I've updated the [PR](https://github.com/tensorflow/tflite-support/pull/793) with some changes. PTAL.

[2022-04-19 23:23] kinaryml commented on #795
I think swapping the order of the parameters should do it.
i.e.,
[code]

[2022-04-19 23:31] kinaryml commented on #795
This should directly compare the `expected_proto_text` ASCII string with the image classification/detection and audio classification result protobuf message objects.

[2022-04-20 00:26] khanhlvg commented on #795
Thanks Kinar. Unfortunately the PR has been imported and adapted to internal code structure so it's non-trivial to add your change in the same PR. I went ahead and merge the PR so could you pull the master branch, re-apply the change and create a new branch?

Last time we already added the conversion logic to pybind so that the Python API returns the proto in the Python's `processor` folder. Could

[2022-04-20 03:29] kinaryml commented on #795
I think it doesn't matter if we convert the protos in the pybinds. I believe Python can't resolve the namespace at runtime. It would still be 'DetectionResult' even for a vision DetectionResult.

[2022-04-20 03:56] kinaryml commented on #795
@khanhlvg I've raised a PR [here](https://github.com/tensorflow/tflite-support/pull/796). PTAL.

[2022-04-20 05:46] kinaryml commented on #795
Meanwhile, `tf.test` does verify if the interal function [`detect`](https://github.com/tensorflow/tflite-support/blob/f7256d5b18da8c228f24ca3b24d92bc679dcd707/tensorflow_lite_support/python/task/vision/pybinds/_pywrap_object_detector.cc#L69) in the pybinds actually returns `DetectionResult` from the processor namespace as we have the typehint specified [here](https://github.com/tensorflow/tflite-s

[2022-04-23 23:16] lu-wang-g commented on #794
Then try if the following works for you:
[code]

[2022-04-25 16:17] lu-wang-g commented on #770
The Segmentation model can not be drag-and-dropped into Android Studio. The API generated won't work. Please use Task Library to inference the model. See the instruction [here](https://www.tensorflow.org/lite/inference_with_metadata/task_library/image_segmenter).

[2022-04-27 19:31] physxP commented on #794
The issue is that by default /usr/bin is read only. I however circumvented it recently by following a few guides but it required turning off many security features like encryption and filevault. Then making symlink of python3 to /usr/bin/python made it finally work but it is quite a hassle.

[2022-05-03 12:27] caseymorris61 opened #806 "Android AudioClassifier/TensorAudio does not work with non-float Audio Data in latest Releases"
In the latest release of the TFLite Support Java library for audio classification (v0.3.1), when the audio data provided by the Android AudioRecord is of type `short` instead of `float`, the classifications do not work. I traced the issue to TensorAudio method `public void load(short[] src, int offsetInShort, int sizeInShort)` in which the input short array is converted to a float array and encode

[2022-05-04 17:04] lu-wang-g commented on #806
+Maxime Brénon ***@***.***> +Khanh LeViet ***@***.***>

Thanks for reaching out! Please see the reply below.

On Tue, May 3, 2022 at 5:27 AM caseymorris61 ***@***.***>
wrote:

Yes, we noticed the conversion issue while fixing the offset one, and then
updated the logic accordingly.

Additionally, this fix *has not been released*, so the libraries that can

there.

rolled out by the end of this week

[2022-05-08 05:41] catqaq opened #810 "Under the premise of pursuing the smallest possible tflite-related binary files, which one is more suitable, tflite or tensorflow-lite-task-text?"
Hi, I followed your tutorial to [reduce tflite aar size](https://tensorflow.google.cn/lite/guide/reduce_binary_size?hl=en) baed on my nlp models. But it failed due to the network error related to bazel(https://github.com/tensorflow/tensorflow/issues/55945). Today I found your great tflite-support repo, At first I thought tensorflow-lite-task-text would be smaller than tflite itself, but in fact th

[2022-05-08 13:42] khanhlvg opened #811 "Write documentation for newly implemented Python and iOS tasks"
The current documentation on TFLite website doesn't have instructions for Python and iOS yet. Please add the instructions for the new tasks implemented recently.

E.g: for image classifier:
* Doc: https://www.tensorflow.org/lite/inference_with_metadata/task_library/image_classifier
* Source: https://github.com/tensorflow/tensorflow/blob/master/tensorflow/lite/g3doc/inference_with_metadata/task_lib

[2022-05-08 18:31] lu-wang-g commented on #810
tensorflow-lite-task-text is the target for [Task Library NL APIs](https://www.tensorflow.org/lite/inference_with_metadata/task_library/overview), which is built on top of TFLite Interpreter. Therefore the binary size will be larger.

To reduce the binary size, you'll need to customize your own tflite aar as introduced in https://tensorflow.google.cn/lite/guide/reduce_binary_size?hl=en, and build

[2022-05-09 05:30] surpreetmann opened #813 "Serving tflite model on Tensorflow serving API"
Is there a way we can serve tflite models on tensorflow serving API? I have converted my tf model to tflite in order to quantize the model for increasing the speed. Now I want to serve this model on TF serving.

[2022-05-09 16:53] lu-wang-g commented on #813
What is the status of TFLite with TF Serving, @karimnosseir?

[2022-05-16 06:49] khanhlvg opened #817 "Migrate Python APIs to use dataclasses instead of protobuf in public API"
Using protobuf directly in Python APIs have created some usability issues:
* No auto-completion suggestion
* No API docstring

We want to migrate the user facing API from exposing protobuf directly to use dataclasses. This [commit](https://github.com/tensorflow/tflite-support/commit/394a4c7a11330704c7dee9fe398d5d53320ea698) prototypes the change for one class. @kinaryml Could you help to update th

[2022-05-16 07:45] catqaq commented on #810
Thanks! I have solved this problem.

[2022-05-16 07:45] #810 closed

[2022-05-16 09:12] kinaryml commented on #817
@khanhlvg What do we do about `DetectionResult` for the ObjectDetector though? Should I convert that to a dataclass too or do you have another PR for it? It seems that the way we evaluate the results will change drastically if we happen to make all of the protos to use dataclasses. Let me know what you think.

[2022-05-16 09:34] kinaryml commented on #817
@khanhlvg Here's the link to the branch with the changes for the `ObjectDetector` API and tests. PTAL.

https://github.com/tensorflow/tflite-support/compare/master...khanhlvg:migrate-object-detector-to-dataclasses?expand=1

[2022-05-16 09:37] kinaryml commented on #817
Since the object detector requires the `Category` class I believe I'll have to update the other classification API as well in the same PR or we'll end up having breaking changes.

[2022-05-17 00:30] khanhlvg commented on #817
Thanks Kinar. The overall changes look good. Could you create a PR?

[2022-05-17 05:01] kinaryml commented on #817
@khanhlvg I've the raised the PR [here](https://github.com/tensorflow/tflite-support/pull/818).

[2022-05-17 05:11] khanhlvg commented on #817
Thanks @kinaryml
I left some minor comments. PTAL.

[2022-05-17 08:07] khanhlvg commented on #817
@kinaryml While the current PR is waiting for internal review, can you create the next two PRs to migrate the Embedder APIs and ImageSegmenter?

[2022-05-17 09:52] kinaryml commented on #817
@khanhlvg I believe `ColoredLabel` relies on the `Category` dataclass so we should wait till the PR is merged.

[2022-05-17 09:53] kinaryml commented on #817
Yeah, I'm working on the ImageSegmenter API right now. Will let you know if I come across any issues.

[2022-05-17 11:41] kinaryml commented on #817
@khanhlvg Here's the branch with the changes for `ImageSegmenter`. PTAL. Meanwhile, I'll be working on porting the Embedder task APIs.

https://github.com/tensorflow/tflite-support/compare/master...khanhlvg:migrate-image-segmenter-to-dataclasses?expand=1

[2022-05-17 23:18] khanhlvg commented on #817
@kinaryml Could you create a PR directly next time? There's no need to share the comparison before creating a PR. Thanks!

[2022-05-18 04:23] kinaryml commented on #817
@khanhlvg I've raised a PR for ImageSegmenter her
https://github.com/tensorflow/tflite-support/pull/819

[2022-05-18 15:13] nitsanh commented on #723
are there any updates regarding this feature? I would love to be able to pip install it on Apple M1 without building it myself

[2022-05-18 21:29] lu-wang-g commented on #723
Not yet, sorry. We're still waiting for the support from TensorFlow build infra.

[2022-05-19 02:35] khanhlvg commented on #817
@kinaryml Could you sent the next CL to migrate the the Searcher APIs?

Besides, please send another CL to update the image classifier, object detector and audio classifier tests to define expected result using code rather than text proto similar to the [image_embedder](https://github.com/tensorflow/tflite-support/pull/819/files#diff-9f71f45fa0ad77a7315599c3873e424b5d44c755749f70aeee2c7e3697858d51

[2022-05-19 11:31] kinaryml commented on #817
@khanhlvg I think the Searcher APIs require the Embedder tasks to be migrated since it happens to make use of embeddings_pb2. I could start working on it as soon as they're merged.

[2022-05-19 12:55] kinaryml commented on #817
@khanhlvg I've created a [branch](https://github.com/tensorflow/tflite-support/compare/master...khanhlvg:migrate-searcher-tasks-to-dataclasses?expand=1) with the changes for the Searcher APIs. Although, I'm holding off on sending the PR as the migration for the Embedding tasks hasn't been merged yet. I'll retest the APIs again once the Embedder API PR gets merged.

[2022-05-21 10:47] kinaryml commented on #817
@khanhlvg I've raised a PR for the Searcher tasks here.

https://github.com/tensorflow/tflite-support/pull/823/files

[2022-05-21 23:30] sebastinto opened #824 "Android `No static method create` error after updating from 0.3.1 to 0.4.0"
After updating the `org.tensorflow:tensorflow-lite-support` dependency from `0.3.1` to `0.4.0`, both `.tflite` models used in an Android project cannot be initialized. The project uses Android Studio ML Binding.

When either model is initialized using `MyModel.newInstance(context, Model.Options.Builder().<some options>` (so initialization is similar to the code snippet in step 2 of the tensorflow

[2022-05-23 19:45] lu-wang-g commented on #824
Android Studio ML binding is not upgraded to tflite-support 0.4 yet. You should continue using tflite-support 0.3.1.

[2022-05-23 22:04] sebastinto commented on #824
Oh, that's good to know. Is the upgrade planned? Thanks!

[2022-05-23 22:30] lu-wang-g commented on #824
I'm afraid not in the near future... But if you need any upgrade or are interested in any particular feature, let us know.

[2022-05-23 23:20] sebastinto commented on #824
Cool, I was just curious but I'll make sure to let you know if we encounter a road block! Thanks for the help!

[2022-05-23 23:20] #824 closed

[2022-05-24 01:58] khanhlvg commented on #817
@kinaryml Thanks Kinar.

The Searcher PR is being reviewed internally. Could you prepare the next PR to migrate BaseOptions to dataclass class? That should be the last PR for this migration work.

[2022-05-24 05:12] kinaryml commented on #817
@khanhlvg Yeah, I'll work on it and send a PR once it's ready.

[2022-05-24 17:33] physxP commented on #794
As far as I remember no guide worked directly on Mac m1. I had to figure out equivalent commands on M1. I mostly entered the commands from the following script: https://github.com/fxgst/writeable_root/blob/main/writeable_root.c
Also make sure to follow the prerequisites. I think the "sudo bless" command has to be changed to work on M1. Sorry I don't remember exact changes as it has been a while.

[2022-05-26 04:36] kinaryml commented on #817
@khanhlvg I've raised another PR to define the expected result using code instead of the protobuf text proto.
https://github.com/tensorflow/tflite-support/pull/827

[2022-05-27 22:42] khanhlvg commented on #817
The migration has been completed. Thanks Kinar!

[2022-05-27 22:42] #817 closed

[2022-05-30 15:27] MATTYGILO commented on #723
When is this going to work!

[2022-06-01 23:08] karimnosseir commented on #813
@surpreetmann
Serving has some tflite session to run tflite https://github.com/tensorflow/serving/blob/master/tensorflow_serving/servables/tensorflow/tflite_session.h

You can ask on tensorflow_serving about the code status as we don't maintain this part.

Thanks

[2022-06-01 23:08] #813 closed

[2022-06-03 04:37] khanhlvg opened #829 "Investigate delegates for Task Library iOS APIs"
@priankakariatyml
Could you help investigate if Task API for iOS can make use of the GPU and CoreML delegates?

In particular, you can see an example of using the delegate in the Python API [here](https://github.com/tensorflow/tflite-support/blob/a92abc7eb8bd08c1fb8b26fecf394e0f8fcf3654/tensorflow_lite_support/python/task/core/pybinds/task_utils.cc#L46). Please test by setting these parameters usi

[2022-06-08 04:47] mrclarksmith commented on #716
I have the same Conversion Error due to Weight Normalization, tf.__version__= '2.9.1', Python 3.9.9., Windows 11
I have enabled "tf.enable_control_flow_v2" which also did nothing.

Errorcode:
input resource[0] expected type resource != bool, the type of model_weight_normalization_cond_assert_equal_1_readvariableop_resource[0]
	In {{node model/weight_normalization/cond/AssignVariableOp}}
	Failed to

[2022-06-16 07:53] Abdullamhd opened #841 "tflite_support.task Python Library throws Error inside Docker Container"
I've facing the following error when i run the code inside the docker container ,

the following code cases the error :

`base_options = core.BaseOptions(
      file_name=model, use_coral=enable_edgetpu, num_threads=num_threads)
detection_options = processor.DetectionOptions(
      max_results=3, score_threshold=0.3)
options = vision.ObjectDetectorOptions(
      base_options=base_options, detectio

[2022-06-16 15:34] Abdullamhd commented on #841
Thanks @khanhlvg  ,
issue soloved , no more error

[2022-06-16 15:34] #841 closed

[2022-06-16 22:17] brandonjraven opened #842 "Converted Lane Detection Model (PyTorch to TFLite) Fails Inference with Aborted Core Dump"
### Description
tflite model fails inference check with 'Aborted (Core dumped)` error and no details. This is using the [Coral inference code](https://github.com/hjonnala/snippets/blob/main/coral_inference.py) provided in the initially report issue. I was directed here by the Coral team; [details of the original issue are found here](https://github.com/google-coral/edgetpu/issues/612).

There is n

[2022-06-17 06:15] lu-wang-g commented on #842
@karimnosseir may you take a look at this issue? Thanks!

[2022-06-18 12:24] 1alexuwu opened #843 "tflite input"
Hello,

I have no idea how to create the proper array shape for the model input. I tried making a 2D array with dimensions 30x126 and it gives an error saying:

`method TensorBuffer.loadArray(int[]) is not applicable
  (argument mismatch; float[][] cannot be converted to int[])
method TensorBuffer.loadArray(float[]) is not applicable
  (argument mismatch; float[][] cannot be converted to float[])`

[2022-06-21 00:33] lu-wang-g commented on #843
Assume your model takes a float input tensor with shape [1, 30, 126], you can use the following code to pass in your input data:
[code]

[2022-06-21 07:16] 1alexuwu commented on #843
It worked! Thank you so much! In my case, I flattened my 2D float array to 1D float array first and then used the first option you gave me. Thank youuuu! \^.^/ @lu-wang-g

[2022-06-21 10:17] #843 closed

[2022-06-21 10:23] 1alexuwu opened #844 "tflite output is NaN"
Hello,

When I get the float array output of my tflite model, I get NaN. What could be the problem? I am still new to do this so there is still a lot that I don't know. I am trying to use my tflite model to the application that I am making. I hope you can help me.

Extracting keypoints from mediapipe:

      `private ArrayList<Float> getMultiHandLandmarksDebugString(List<NormalizedLandmarkList> mu

[2022-06-23 06:21] #811 closed

[2022-06-29 18:18] lu-wang-g commented on #844
If you don't get any error message, at least your model runs. Have you verified your model can run correctly, i.e. run it using the [tflite Python interpreter](https://www.tensorflow.org/lite/guide/inference#load_and_run_a_model_in_python)?

[2022-07-01 14:32] brandonjraven commented on #842
Just checking in - has anyone been able to investigate why this is happening? Any leads on what we could be trying or what is going wrong?

[2022-07-02 08:26] 1alexuwu commented on #844
I tested the tflite model using python interpreter and it works just fine. I found a solution here https://github.com/tensorflow/tensorflow/issues/22803?fbclid=IwAR20GVY0stOBiqdaWVtJK0d9H7J80NbCRK7iAnt9gcO6BDJIxX46QDxfVKo . The tflite model is quantized (if my term is right?). It works fine now in the android app.

[2022-07-02 08:27] #844 closed

[2022-07-07 02:51] khanhlvg opened #849 "Adding offset param to TensorAudio.create_from_wav_file"
The function currently only allows reading from the beginning of the file. We'd like to allow user to skip a certain number samples at the beginning to make the function more flexible.

We should update the C++ implementation to add the offset parameters, and surface that to the Python layer. Besides, we should update all files that use the C++ LoadAudioBufferFromFile function so that we don't bre

[2022-07-08 08:21] kinaryml commented on #849
@khanhlvg I've raised a PR [here](https://github.com/tensorflow/tflite-support/pull/851). PTAL and let me know if there's anything more that needs to be looked into.

[2022-07-08 10:00] LuisTbx opened #852 "Empty build on windows"
HI,

I've been trying to compile on Windows, but i did not have any chance.  The command

'Bazel build :all' generates an output:

INFO: Build completed successfully, 1 total action
INFO: Build completed successfully, 1 total action

Despite this success message, the build bazel-out/x64_windows-opt/bin folder is empty.

Tried with two different envs, VS15 and with MSYS2, same results.

If i compil

[2022-07-13 07:24] #852 closed

[2022-07-15 10:31] 0800robin opened #858 "Rpi3 - could not find a version that satisfies the requirement file tflite-support>=0.4.0"
I am trying to setup an audio classifier on my Raspberry Pi 3 using this example - https://github.com/tensorflow/examples/tree/master/lite/examples/sound_classification/raspberry_pi

I have followed the setup steps, however when i run the setup script i run into this error

[code]

I am using python 3.7.3

I have looked into older issues but can't find a resolution
https://github.com/tensorflow/tf

[2022-07-16 19:56] Sanjay2802 opened #859 "Usb cam support"
How to use external USB OTG camera in object detection in Android ? Please help as soon as possible

[2022-07-17 01:26] Russ76 opened #860 "Will this package install on Nvidia Jetson TX1?"
Pip says that it is installed. Python3 can import tflite_support. But when I try to import from tflite_support.task, (in my Python script) it says, ModuleNotFoundError: no Module named 'tflite_support.task'
I have the latest Jetpack installed that I can, 4.6, which includes Ubuntu 18.04
I'm using a virtual environment in Python 3.6 and have those libraries included in PYTHONPATH
Even Tensorflow 2.

[2022-07-17 01:41] Russ76 commented on #860
uriah@uriah-jetson:~/Herbie_Bot/raspi_stills$ python3 raspi_detect.py -model detect2.tflite -image /home/uriah/Herbie_Bot/raspi_stills/image_work/image1.jpg
Traceback (most recent call last):
  File "raspi_detect.py", line 10, in <module>
    from tflite_support.task import vision
ModuleNotFoundError: No module named 'tflite_support.task'
uriah@uriah-jetson:~/Herbie_Bot/raspi_stills$ pip3 show tfl

[2022-07-20 05:34] lu-wang-g commented on #858
@khanhlvg do you mind to take a look at this issue? Many thanks!

[2022-07-20 05:40] lu-wang-g commented on #860
'tflite_support.task' is only available for tflite_support version greater than 0.4, and yours is 0.1.0. I think we deprecated Python 3.6 long time ago. Please use Python 3.7+.

[2022-07-20 06:12] khanhlvg commented on #858
@0800robin Have you tried updating your pip to the latest version?
`python3 -m pip install pip --upgrade`

then

`python3 -m pip install tflite-support==0.4.0`

If it doesn't work, could you try `python3 -m pip install tflite-support-nightly`?

[2022-07-26 01:53] ysbaekFox opened #864 "How to build tensorflow-lite-c with flex ?"
Hello All,

I'd like to use the tensorflow-lite model created in python in C++.
But, I'm facing a problem where I can't call the relu activation included in the tflite file on C++.

The python code I wrote to create the tflite model is as follows.
I am using tensorflow 2.9.1 Version in Ubuntu environment by directly building using CMake.

[code]
[code]

By the way, when I try to use relu for keras

[2022-07-26 01:55] #864 closed

[2022-07-26 20:35] motilal76 opened #865 "quantization aware training conversion"
Trying to convert a model with quantization aware training, tensorflow 2.8.2 bombs out

/usr/local/lib/python3.8/dist-packages/keraslayers/convolutional.py:233 Error 'tf.Conv2D' op is neither a custom op nor a flex op

All i am doing is calling
'''
     latest = tf.train.latest_checkpoint(checkpoint_dir)
     model.load_weights(latest)

    converter = tf.lite.TFLiteConverter.from_keras_model(mode

[2022-08-01 20:48] Raunak-Singh-Inventor opened #867 "Run audio recognition model on arduino-like board"
How can I run an audio recognition model on an arduino-like board using tflite micro. I can convert it to a model.cc, but I don't know how to run it from there on the microcontroller?

Thanks in advance for your help.

[2022-08-01 20:49] Raunak-Singh-Inventor opened #868 "Run object detection model on arduino-like board"
How can I run an object detection model on an arduino-like board using tflite micro. I can convert it to a model.cc, but I don't know how to run it from there on the microcontroller?

Thanks in advance for your help.

[2022-08-02 05:37] lu-wang-g commented on #867
Please ask your question in the tf/tflite github repo [here](https://github.com/tensorflow/tensorflow). The Micro team will help you from there.

[2022-08-02 05:37] #867 closed

[2022-08-03 11:33] LuisTbx opened #869 "How to link the task library to bazel project?"
I would like to use the CC task/vision library on my own project. How can i add it to my current workspace?

i tried by adding the http_archive, but this lead to missing dependencies:

http_archive(
    name = "org_tensorflow_lite_support",
    urls = [
        "https://github.com/tensorflow/tflite-support/archive/822939c02daf36ef99d3d0e4a0633bd18c62e85e.tar.gz",
    ],
    strip_prefix = "tflite-

[2022-08-04 13:43] 0800robin commented on #858
Thanks very much @khanhlvg that has solved the issue.

One of the issues was i had mangled my python install a bit but a clean install of raspberry pi OS + updating pip and all is well.

I can now train a model on Teachable Machine and run it on the Pi. Sweet.

Thanks again

[2022-08-04 13:43] #858 closed

[2022-08-08 12:50] creativesh opened #870 "Unknown image file format. One of JPEG, PNG, GIF, BMP required."
Hi , I have a tflite model trained with tensorflow 1.x
I have converted my model to tflite with below code:

converter = tf.lite.TFLiteConverter.from_saved_model(
    saved_model_dir=SAVED_MODEL_DIR)
converter.optimizations = {tf.lite.Optimize.DEFAULT} #optional sh
converter.change_concat_input_ranges = True #optional sh
converter.target_spec.supported_ops = [  #should be
  tf.lite.OpsSet.TFLITE_B

[2022-08-08 21:27] lu-wang-g commented on #870
Looks like you included the logic of decoding a JPEG images into the tflite model. Usually, a vision tflite model takes a decoded RGB image buffer as input directly. Your `val catBitmap = getBitmapFromAsset("bwr.jpg")` already decoded the image into a bitmap. You can update your tflite conversion code, and strip of image preprocessing. Without decoder, hopefully you don't need to depend on `tf.lit

[2022-08-08 21:30] lu-wang-g commented on #869
Your `http_archive` target looks good to me. What kind of error message did you run into? Can you please provide an example of your bazel target?

You need to add depends for whatever linked in your bazel target, for example, absl, protobuf, etc

[2022-08-08 21:31] lu-wang-g commented on #868
Please ask the question on the TF/TFlite github repo. The micro team will help you from there.

[2022-08-08 21:31] #868 closed

[2022-08-09 04:56] creativesh commented on #870
@lu-wang-g

Thanks for your answer, would you please tell me exactly which part of the code I should change ? I just know  my original network takes .gfile as input. I cannot change the.pb file.

[2022-08-09 19:48] creativesh commented on #870
any comment to resolve this issue ?

[2022-08-09 19:48] creativesh commented on #870
any comment to resolve this issue ?

[2022-08-09 19:49] creativesh commented on #870
any comment to resolve this issue ?

[2022-08-10 07:35] LuisTbx commented on #869
Thanks for your answer @lu-wang-g .

I have added to my target the following dependencies:

deps = [
        "@com_google_absl//absl/flags:flag",
        "@com_google_absl//absl/flags:parse",
        "@com_google_absl//absl/status",
        "@com_google_absl//absl/strings",
        "@com_google_absl//absl/strings:str_format",
        "@org_tensorflow_lite_support//tensorflow_lite_support/cc/port:s

[2022-08-10 17:00] piyushmundhra opened #871 "USE lite in Java(android)"
Hi tflite team,

I noticed that the [text embedder docs](https://www.tensorflow.org/lite/inference_with_metadata/task_library/text_embedder#run_inference_in_c) only show usage with C++ and Python. I am trying to vectorize text in Java(android) utilizing USElite and was hoping I could get some assistance in getting started with that.

Thanks in advance

[2022-08-16 16:25] lu-wang-g commented on #871
Java text embedder is not supported at this moment. The most closest one is the Java [Searcher API](https://www.tensorflow.org/lite/inference_with_metadata/task_library/text_searcher), which takes a Searcher model (an embedder + index file) and returns the closest search result.

You can also create your own Java Embedder API in a similar way as the the Searcher API. See [here](https://github.com/

[2022-08-16 17:46] lu-wang-g commented on #869
You don't need to use `cc_library_with_tflite` (a target we created for internal usage). Regular `cc_library` should just work. Therefore you don't need to depend on `@org_tensorflow` specifically.

Note that you don't need to load transitive deps (i.e. deps used in tflite_support, but not directly in your project) in your workspace. You need `@org_tensorflow` here because you defined the target u

[2022-08-16 18:04] lu-wang-g commented on #865
tf.Conv2D is a very basic op and should be supported in the built-in op. Do you mind to ask the question in the tensorflow/tflite github repo. Our team will help you further from there.

[2022-08-16 18:04] #865 closed

[2022-08-16 18:28] lu-wang-g commented on #870
You can try converting your model with signature def. See https://www.tensorflow.org/lite/guide/signatures#convert_a_model_with_signatures.

Add signature of your desired inputs/outputs in the SavedModel, so that JPEG decoding is not included in the graph.

[2022-08-18 20:55] naarkhoo commented on #745
I have the same problem with exactly the same model and error. but with key error 2235

[2022-08-18 21:01] lu-wang-g commented on #745
May you please share the model? I can help to take a look.

[2022-08-18 21:03] naarkhoo commented on #745
cell 28 https://drive.google.com/file/d/1QUgvVhG9DMxo4hpIpImQNuR_nk16iGjx/view?usp=sharing

[2022-08-19 08:41] creativesh commented on #870
@lu-wang-g
I have read the documentation and wrote some code, but I  faced some errors. Can I do it with directly remove nodes which are related to decode part of the graph ? would you please recommend me some sample code ?

[2022-08-21 11:58] akram02 opened #874 "ERROR: No matching distribution found for tflite-support-nightly"
I am trying to install **tflite-support-nightly** by this command **pip install tflite-support-nightly**.
But it shows this error-
_**ERROR: Could not find a version that satisfies the requirement tflite-support-nightly (from versions: none)
ERROR: No matching distribution found for tflite-support-nightly**_
My operating system is **Ubuntu 22.04 LTS** and my python version is **Python 3.10.4**

[2022-08-22 16:36] lu-wang-g commented on #874
Python 10 is not supported at this moment. Please use Python 3.7 ~ 3.9 instead.

Feel free to reopen if you have other questions.

[2022-08-22 16:36] #874 closed

[2022-08-23 09:23] AzinPoshtyar opened #875 "TFLite conversion_Float16 quantization"
I'm trying to convert my saved_model.pb to TFLite_Float16 quantization:

import tensorflow as tf
converter = tf.lite.TFLiteConverter.from_saved_model(saved_model_dir)
converter.optimizations = [tf.lite.Optimize.DEFAULT]
converter.target_spec.supported_types = [tf.float16]
tflite_quant_model = converter.convert()

However, I got error at the last line as

ConverterError                            T

[2022-08-23 17:24] lu-wang-g commented on #870
I'm not very familiar with how to customize a saved_model and remove certain nodes from the graph. Please open a new issue in the TF github repo. Our TF team will help you from there.

[2022-08-23 19:01] naarkhoo commented on #745
you are right now it works - I don't know what was the solution but I
appreciate your support and time looking into it.

On Tue, Aug 23, 2022 at 6:34 PM lu-wang-g ***@***.***> wrote:

[2022-08-24 05:38] creativesh commented on #870
@lu-wang-g
Thanks, I have removed the decode nodes from the beginning of the graph and added a new input with desired type and shape, but it hurt  the accuracy.

[2022-08-24 16:40] lu-wang-g commented on #870
What is the accuracy gap between on-device inference and training? Other than decoding, what else have been changed?

[2022-08-25 08:17] creativesh commented on #870
@lu-wang-g
The main network top 1 accuracy is almost 89% , however, the network without map  bloack almost labels randomly!!!!!!!!!

this is the image of the original network :
![image](https://user-images.githubusercontent.com/22853189/186612642-1ca422e8-2c29-418c-9ec2-84629ff7e195.png)

and this is the image of pruned network:

![image](https://user-images.githubusercontent.com/22853189/18661271

[2022-08-27 00:22] lu-wang-g commented on #870
Besides decoding image, what else does the map block do?

[2022-08-28 05:19] creativesh commented on #870
unfortunately , I dont have complete information about the map block.

[2022-09-08 19:59] moults31 opened #879 "build_pip_package for rpi (elinux_armhf) fails under Docker"
I am hitting an error when attempting to cross-compile the tflite-support pip package using the provided Docker container.

# Steps to reproduce:
[code]
Note that docker-build automatically runs `build_arm_pip_package.sh` which runs the following bazel build commands, which is where the failure occurs
[code]

# Error signature:
[code]
Plus many more undefined types that appear to be xnnpack relate

[2022-09-08 20:06] moults31 opened #880 "tflite-support-nightly no longer builds armv7 after 20220816"
Hi, I am hoping to get an armv7 pip package containing the fix from this commit: https://github.com/tensorflow/tflite-support/commit/c478cf68bf9b8254e0a21b52ed3ec3c33979cff8. However, it appears that this fix is more recent than the latest proper release, and the nightly builds no longer build arm binaries.

I am requesting one of the following options:
- Could we get armv7 re-added to the nightly

[2022-09-08 23:10] manasa12344 opened #881 "Support for FakeQuantWithMinMaxVarsPerChannel"
Hello,

I have a Tf1.15 protobuf with the per-channel ops 'FakeQuantWithMinMaxVarsPerChannel', when I try to convert to TFLite, it errors out saying the op is not supported. Will TFLite add support for this op? Thanks!

[2022-09-09 02:06] febrifahmi opened #882 "pip install tflite-support raise problem with attribute 'ImageDataFree'"
I tried to install tflite-support with `pip install tflite-support` then run my object detection script which use vision task in tflite_support, but it's break and display `AttributeError: module 'tensorflow_lite_support.python.task.vision.core.pybinds.image_utils' has no attribute 'ImageDataFree'`.

After checking the code in `/tensorflow_lite_support/python/task/vision/core/tensor_image.py` it s

[2022-09-09 04:03] moults31 commented on #882
Same issue here, running on Raspberry Pi 4. I suspect it's fixed in `master` by https://github.com/tensorflow/tflite-support/commit/c478cf68bf9b8254e0a21b52ed3ec3c33979cff8. However, like you mention, there seems to be no way to get an Arm binary that includes this commit. I've spent hours trying to cross compile, trying to build directly on arm, etc, but no luck.

I have opened https://github.com

[2022-09-09 09:15] febrifahmi commented on #882
I tried to change `image_utils.ImageDataFree(self._image_data)` to `(self._image_data)` in `tensor_image.py` and it could run. However, I got `double free or corruption (!prev)` after that which I guess is unrelated to this issue.

[2022-09-09 18:53] pucha48 opened #883 "No support for tensor image reshape in tflite android sdk from channel first to channel last or vice-versa."
https://discuss.tensorflow.org/t/how-to-reshape-a-tensor-image-in-android-java-sdk-from-channel-first-to-channel-last/11810
How to reshape a tensor image in android java sdk from channel first to channel last?

[2022-09-09 20:43] moults31 commented on #882
Agreed that it's not likely an Arm-only issue; it's just that on Arm I have no workaround since I can't build from source.

Can you try
[code]
That way we can know if the bleeding edge version has a fix for these issues. I can't do the above since nightly does not provide binaries for Arm anymore.

[2022-09-10 09:08] febrifahmi commented on #882
It seems `tflite-support-nightly` still has ImageDataFree in it as shown in this error: `AttributeError: module tensorflow_lite_support.python.task.vision.core.pybinds.image_utils' has no attribute 'ImageDataFree'`.

But somehow (thanks for your suggestion) after installing this nightly version `double free or corruption (!prev)` error disappear. While it still has `Exception ignored in: <function

[2022-09-11 09:43] ncvescera commented on #882
I have the same problem, but installing the nightly version of tflite-support did not fix the issue.
I'm on a Raspberry Pi 3 and this is the error:

[code]

[2022-09-12 17:36] schmidt-sebastian commented on #880
Thanks for pointing this out. I will take a look at our Nightly builds.

[2022-09-14 21:55] tgsmith61591 commented on #723
M1 machines have been out for some time, now. Is this going to work anytime soon?

[2022-09-15 10:19] priyanshu-makhiyaviya opened #884 "TFlite Micro Hello-world continuously restart on ESP32-S3"
@tensorflow/micro

System information

    Host OS Platform and Distribution (e.g., Linux Ubuntu): Ubuntu 18.04
    TensorFlow installed from (source or binary): source
    Tensorflow version (commit SHA if source): 2.3.0
    Target platform (e.g. Arm Mbed OS, Arduino Nano 33 etc.): ESP32-S3

**Describe the problem**

I am trying to setup the ESP32-S3 for TFlite.
I have compiled TFLite hello-world

[2022-09-15 18:55] tgsmith61591 commented on #755
Has anyone gotten this to work? I'm trying to build version 0.4.2 on an M1 mac, and getting the following:

[code]

Using Bazel 5.0.0

[2022-09-19 21:20] schmidt-sebastian commented on #880
@moults31 Our nightly pipeline is in a bid of trouble these days since we are mostly focused on MediaPipe Tasks.
We don't want to block you and were wondering what tasks you are interested in?

[2022-09-22 10:28] nysamnang opened #885 "iOS Error duplicate symbols for architecture x86_64"
My project is already integrated with Google MLKit and working as normal. But after installing `pod 'TensorFlowLiteTaskVision'` and run the project again it produced the issue.

<img width="455" alt="Screen Shot 2022-09-22 at 5 04 27 PM" src="https://user-images.githubusercontent.com/28054921/191721305-6d3a8821-9b05-4582-93ab-db096992cc75.png">

I figured out that the code of `GMLImage.h` in `Tens

[2022-09-26 11:15] Flipajs commented on #882
For those who need a temporary solution until it is fixed, previous version work `pip install tflite-support==0.4.1`.

[2022-09-26 16:37] adnan-thathiya-rizzle opened #886 "`EXC_BAD_ACCESS (code=1, address=0x11)`"
Getting `EXC_BAD_ACCESS (code=1, address=0x11)`  on initialisation of `segmenter`.

let segmenter = try ImageSegmenter.segmenter(options: options)

<img width="1167" alt="Screenshot 2022-09-26 at 10 06 00 PM" src="https://user-images.githubusercontent.com/112386972/192332799-aa4016cf-2003-4e59-bed5-159ab34d8ca3.png">

[2022-09-30 06:21] adnan-thathiya-rizzle opened #888 "TensorFlow Lite Error: Node number 244 (Convolution2DTransposeBias) failed to prepare."
I am facing this while initializing tflite model.

[2022-10-05 10:03] SpiReCZ opened #889 "non-Android Java API support"
I really like Tensorflow Lite and would want to use it on my Java server application (Spring Boot) and Raspberry pi (linux aarch64) or at least in (linux x64).
There is already Java API, but only for Android.

Would it be possible to add support for it (linux - x64, aaarch64)?
(other: macos - x64, arm64; windows x64, arm64)

I know Android is probably the primary focus, but lack of support for cla

[2022-10-06 23:13] febrifahmi commented on #882
I also open issue in [here](https://github.com/tensorflow/tensorflow/issues/57947) since `pip install tflite-support==0.4.1` doesn't work in my pi. I try to build tflite-support using Bazel on arm 4.2.2 but also failed, It always stop in the process. In the meantime [I trried to bootstrap from source Bazel 5.3.0](https://github.com/bazelbuild/bazel/issues/16416) on my pi in the hope of successfull

[2022-10-11 13:20] samuelsont opened #890 "Building from 0.4.2 archive with bazel yields a 0.4.0 whl file"
I'm trying to build tflite-support 0.4.2 on windows with bazilisk, however, the generated file is `tflite_support-0.4.0-cp310-cp310-win_amd64.whl`. I tried this out a couple times and the results were the same each time: 0.4.0 got generated.

I got everything moving by following the guidance here: https://github.com/tensorflow/tflite-support/issues/755#issuecomment-1060998000 without the nightly f

[2022-10-14 19:34] lu-wang-g commented on #889
TFLite doesn't release non-Android Java API on Maven, but you can build one on your own using [tensorflowlite_javalib_stable](https://github.com/tensorflow/tensorflow/blob/106698cce24c0af0fcba3ac412b18f46c3edb0bb/tensorflow/lite/java/BUILD#L373).

aarch64 and Respberry Pi have been supported. See the instruction here: https://www.tensorflow.org/lite/guide/python.

For further questions, feel free

[2022-10-14 19:34] #889 closed

[2022-10-14 20:41] lu-wang-g commented on #888
Please file your question on https://github.com/tensorflow/tensorflow/issues. Someone from the TFLite team will help you from there.

[2022-10-14 20:41] #888 closed

[2022-10-14 20:49] lu-wang-g commented on #886
@khanhlvg do you have any insights on this?

[2022-10-14 21:34] lu-wang-g commented on #885
Thanks for flagging the issue! Task Library packs the source code MLImage into our Cocoapods target, that's why you see this duplicated symbols error. We'll depend on the MLImage Cocoapods target in our new release to avoid the conflict.

[2022-10-14 21:58] lu-wang-g commented on #884
Please post your question on https://github.com/tensorflow/tensorflow. Our TensorFlow team will help you from there.

[2022-10-14 21:58] #884 closed

[2022-10-14 22:01] khanhlvg commented on #886
@adnan-thathiya-rizzle I couldn't reproduce the issue. Could you provide steps to reproduce it?

[2022-10-14 22:03] lu-wang-g commented on #883
Reorder image dimensions like this not supported by TensorImage. TensorImage assumes the underlying buffer has size of [channel, width, height].

[2022-10-14 22:03] #883 closed

[2022-10-14 22:04] lu-wang-g commented on #875
Please post your questions at https://github.com/tensorflow/tensorflow. Our TensorFlow team will help you from there.

[2022-10-14 22:04] #875 closed

[2022-10-14 22:05] SpiReCZ commented on #889
Why? It's a standard way of releasing Java libraries. Projects like http://djl.ai/ and whole Java/Kotlin community would benefit from having official builds.
I surely can go and build it, but it lowers the general usage and usability of your efforts.
Unofficial builds won't get community attention either.

[2022-10-14 22:05] lu-wang-g commented on #881
Please post your question on https://github.com/tensorflow/tensorflow. Our TensorFlow team will help you from there.

[2022-10-14 22:05] #881 closed

[2022-10-14 22:13] lu-wang-g commented on #889
Most of the TFLite Java usages today are in Android, that's why we prioritized it more. But feel free to submit a feature request on https://github.com/tensorflow/tensorflow/issues and explain your use case.

[2022-10-14 22:17] SpiReCZ commented on #889
The prioritization is understandable, however it reminds me an egg / chicken problem.
Android surely didn't have support as well at some point.
Thanks for answers, i will try my best.

[2022-10-15 03:10] nysamnang commented on #885
That's sounds good!
I hope you will resolve this issues and release a new version very soon 🚀.
Thank you!

[2022-10-15 23:45] lu-wang-g commented on #890
This is just a version tag issue. The wheel you built actually contains changes for 0.4.2, not just for 0.4.0.

We've updated the version number though. If you try it later today, you'll find the generated file become `tflite_support-0.4.2-cp310-cp310-win_amd64.whl`

[2022-10-15 23:45] #890 closed

[2022-10-15 23:57] lu-wang-g commented on #882
We just fixed the [nightly Pypi](https://pypi.org/project/tflite-support-nightly/0.4.0.dev20221015/#files) a while ago for Linux / Mac / Raspberry Pi. Windows will come out later today. Let me know if it works for you. Feel free to reopen this issue as needed.

FYI, the nightly version number right now is incorrectly tagged to 0.4.0, because the package actually contains our latest changes on top

[2022-10-15 23:57] #882 closed

[2022-10-15 23:59] lu-wang-g commented on #880
The nightly build has been fixed. See https://pypi.org/project/tflite-support-nightly/0.4.0.dev20221015/#files.

I'm closing this issue. Feel free to reopen if needed.

[2022-10-15 23:59] #880 closed

[2022-10-16 00:02] lu-wang-g commented on #879
XNNPACK doesn't build well on elinux_armhf. Similar to the TFLite Rpi build, we switched XNNPACK with Ruy. The nightly build has been fixed. See https://pypi.org/project/tflite-support-nightly/0.4.0.dev20221015/#files. You can also try building the Pypi package on your own from source code. Feel free to reopen this issue if you see any further problems.

[2022-10-16 00:02] #879 closed

[2022-10-17 15:03] jhguay commented on #882
Perfect!  No error.  Thanx!

________________________________
De : lu-wang-g ***@***.***>
Envoyé : 15 octobre 2022 19:58
À : tensorflow/tflite-support ***@***.***>
Cc : Jean-Herman Guay ***@***.***>; Comment ***@***.***>
Objet : Re: [tensorflow/tflite-support] pip install tflite-support raise problem with attribute 'ImageDataFree' (Issue #882)

Closed #882<https://can01.safelinks.protection.outloo

[2022-10-21 20:09] lillekemiker opened #894 "vision.ImageSegmenter fails when image array is F-continguous"
When using numpy in python, the ordering of array elements in memory is handled under the hood and usually the user never has to worry about this. For instance, when I read an image file from disk parse it as a numpy array with `image = np.asarray(Image.open('image.jpg'))`, it is loaded in C-contiguous format. If I decide to crop the image by slicing (`crop = image[20:-20, 30:-3]`) I will get an F

[2022-10-21 20:15] lillekemiker opened #895 "python vision.ImageSegmenter run inference significantly slower than tf.lite.Interpreter"
It is already super annoying that the TFLite interpreter for inference on x86 CPU is ridiculously slow.
However, I have found that if running image segmentation with `tf.lite.Interpreter` takes about 2 seconds (and typical UNet model and 256x256x3 px input), then the same inference using `vision.ImageSegmenter` will take almost 4 seconds. That seems crazy to me, since the pre- and post processing

[2022-10-28 11:26] chrisogonas commented on #657
I struggled with this error, too. I will add another coffee mug to lu-wang :)

[2022-10-28 11:28] chrisogonas commented on #657
@Kimidoge are you trying to recognize human activities real-time? I was trying that on a smartwatch and I had bugs. Did you try on smartwatch? Were you able to recognize/classify activities correctly?

[2022-10-28 23:55] wangjia184 commented on #755
bazel 5.1.1 , I encounter the following error when building on Mac M1
[code]

[2022-11-05 17:24] lu-wang-g commented on #895
May you please benchmark ImageSegmenter using the deeplab model and the cat image listed [here](https://github.com/tensorflow/tflite-support/tree/master/tensorflow_lite_support/examples/task/vision/desktop#image-segmenter)? Let me know what the performance metrics are. Thanks.

[2022-11-05 17:40] lu-wang-g commented on #894
Thanks for the suggestions!

We'll add this update to [MediaPipe Tasks](https://github.com/google/mediapipe/tree/master/mediapipe/tasks), which will have a preview release soon. Before that, please work around this issue by passing in C-contiguous array specifically to the Task Library API.

[2022-11-14 13:45] bbartling opened #899 "ModuleNotFoundError: No module named 'tflite_support.task'"
Hi,

I have a rasp pi B+ running Buster image Python 3.7.3:
[code]

Hoping to try out some computer vision code:
[code]

Would there be any work arounds or fixes to try? Also NOT using Coral Edge TPU

[2022-11-14 21:26] lu-wang-g commented on #899
tflite_support 0.1.0 does not have the `task` module. You need a version of 0.4 and above. Check out the latest version here: https://pypi.org/project/tflite-support/.

Double check if any of the [prebuilt binaries](https://pypi.org/project/tflite-support/0.4.3/#files) fits your specific system and setup. Since you installed version 0.1.0, mostly likely none of those fit, so it ended up building a

[2022-11-15 12:07] bbartling commented on #899
Thank you....

[2022-11-15 12:07] #899 closed

[2022-11-17 08:20] arturdryomov commented on #541
@lu-wang-g, hey, are there news regarding this issue?

[2022-11-17 18:05] lu-wang-g commented on #541
We had to shift our roadmap on image utils soon after I left my previous comments last year. We won't be able to deliver this feature in the near feature. Sorry about it.

[2022-11-17 18:15] arturdryomov commented on #541
@lu-wang-g, no worries, thanks for the update!

Perhaps I can ask for a consult. Do you have a suggestion regarding the best approach to pass images from camera to a model with a possible persistence to a JPEG / WebP file? Maybe some team at Google had a similar workflow. Our model consumes RGB bitmaps, we’ve used RenderScript for the YUV → RGB conversion so far. Unfortunately, RenderScript is dep

[2022-11-21 06:34] yangqinjiang opened #900 "Error occurred when initializing ObjectDetector: AllocateTensors() failed."
I used the PT file trained by yolov5, converted it to tflite file, and ran it with the official android code. An error was reported

`java.lang.IllegalStateException: Error occurred when initializing ObjectDetector: AllocateTensors() failed.
at org.tensorflow.lite.task.vision.detector.ObjectDetector.initJniWithModelFdAndOptions(Native Method)`

the tflite added metadata  by **https://github.com/ul

[2022-11-27 05:44] lu-wang-g commented on #541
Libyuv should be very performant as far as I know. We use it to perform image processing in Task Library as well. Alternatively, you can request RGBA output from CameraX directly. See this blogpost: https://medium.com/androiddevelopers/convert-yuv-to-rgb-for-camerax-imageanalysis-6c627f3a0292.

[2022-11-28 11:25] Silince opened #902 "zlib.so version is too low, and there are loopholes"
![image](https://user-images.githubusercontent.com/10862253/204266339-3db9c2de-6f27-4a53-9423-deb11a0c1495.png)

[2022-11-30 18:05] generic-matrix opened #903 "Why tflite model output shape is different than the original model converted from T5ForConditionalGeneration?"
**T5ForConditionalGeneration Model to translate English to German**

[code]

Output : Die Blumen sind wunderbar.

**Input Shape**

[code]

Output : torch.Size([1, 11])

**Output Shape**

[code]

Output : torch.Size([1, 7])

**Save Pretrained model**

[code]

**Load TFT5Model model from pretrained**

[code]

**Convert TFT5Model to TFlite**

[code]

**Load The TFLite model**

[code]

**Get The Outpu